
{% extends 'base.html' %}


{% block title %}
  Log In
{% endblock %}


{% block content %}
  <form method="post">
  {% if request.MOBILE %}
    <div>
  {% else %}
    <div class="row-grid" style="grid-template-columns: auto auto;">
  {% endif %}
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div class="small-gap"></div>

    <div>
      <input type="submit" value="anmelden">
    </div>
  </form>
{% endblock %}
