<!DOCTYPE html>
<html>
    <head>
        <title>Behandlungsverlauf</title>
    </head>
    <body>
        <div class="header">
            <table>
                <tr>
                    <td>
                        <p style="margin: 0; text-align: center; text-decoration: underline;">TIERARZTPRAXIS</p>
                        <p style="margin: 0; text-align: center; padding-bottom: 4px;">Kaiserstrasse</p>
                        <p style="text-align: right;">
                            Dr. Elfriede Koppensteiner<br>
                            Mag. Gerold Koppensteiner
                        </p>
                    </td>
                    <td>
                        <p><img src="{{ url_for('static', filename='img/logo.png') }}"></p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
