<html>
    <body>
        <div id="fake" style="padding-bottom: 20mm; padding-top: 5mm; font-decoration: underline">
            <p>{{- behandlungsverlauf.person.anredecode | mapanrede -}}</p>

            <p>
               {{- behandlungsverlauf.person.vorname -}} &nbsp; 
               {{- behandlungsverlauf.person.familienname -}} &nbsp; 
               {{- behandlungsverlauf.person.titel -}}
            </p>

            <p>{{- behandlungsverlauf.person.adresse.strasse -}}</p>

            <p>
                {{- behandlungsverlauf.person.adresse.postleitzahl -}} &nbsp; 
                {{- behandlungsverlauf.person.adresse.ort -}}
            </p>
        </div>
        <div style="display: table; width: 100%">
            <div style="display: table-row; width: 100%">
                <div style="display: table-cell; width: 123mm">
                    Patient &nbsp; 
                    {{- behandlungsverlauf.tier.tiername -}} &nbsp; 
                    {{- behandlungsverlauf.tier.tierart -}} &nbsp; 
                    {{- behandlungsverlauf.tier.geburtsdatum -}}
                </div>
                <div style="display: table-cell; width: 40mm; text-align: right;">
                    {{- behandlungsverlauf.datum -}}
                </div>
            </div>
        </div>

        <div>
            <p>Diagnose: &nbsp; {{- behandlungsverlauf.diagnose -}}</p>
        </div>

        <div>
            <p>{{- behandlungsverlauf.behandlung -}}</p>
        </div>
    </body>
</html>
