<!DOCTYPE html>
<html>
    <head>
        <title>Behandlungsverlauf</title>
    </head>
    <body>
            <div style="padding-bottom: 20mm;">
                <p>{{- tierhaltung['anredecode'] | mapanrede -}}</p>

                <p>
                   {{- tierhaltung['vorname'] -}} &nbsp; 
                   {{- tierhaltung['familienname'] -}} &nbsp; 
                   {{- tierhaltung['titel'] -}}
                </p>

                <p>{{- adresse['strasse'] -}}</p>

                <p>
                    {{- adresse['postleitzahl'] -}} &nbsp; 
                    {{- adresse['ort'] -}}
                </p>
            </div>

            <div style="display: grid; grid-template-columns: auto auto;">
                <p>Patient: &nbsp;
                    {{- tierhaltung['tiername'] -}} &nbsp;
                    {{- tierhaltung['tierart'] -}} &nbsp;
                    {{- tierhaltung['geburtsdatum'] -}}
                </p>
                <p style="text-align: right;">{{- behandlungsverlauf['datum'] -}}</p>
            </div>

            <div>
                <p>Diagnose: &nbsp; {{- behandlungsverlauf['diagnose'] -}}</p>
            </div>
        </div>

        <div class="content">
            <p>{{- behandlungsverlauf['behandlung'] -}}</p>
        </div>
    </body>
</html>
