<html>
    <body>
        <div id="fake" style="padding-bottom: 20mm; padding-top: 15mm; font-decoration: underline">
            <p>{{- behandlungsverlauf.person.anredecode | mapanrede -}}</p>

            <p>
               {{- behandlungsverlauf.person.vorname -}} &nbsp; 
               {{- behandlungsverlauf.person.familienname -}} &nbsp; 
               {{- behandlungsverlauf.person.titel -}}
            </p>

            <p>{{- behandlungsverlauf.person.adresse.strasse -}}</p>

            <p>
                {{- behandlungsverlauf.person.adresse.postleitzahl -}} &nbsp; 
                {{- behandlungsverlauf.person.adresse.ort -}}
            </p>
        </div>
        <table border="0" width="100%">
            <thead border="0">
                <tr border="0">
                    <td border="0" width="70%">&nbsp;</td>
                    <td border="0" width="30%">&nbsp;</td>
                </tr>
            </thead>
            <tbody border="0">
                <tr border="0">
                    <td border="0" width="70%" align="left">Patient &nbsp; {{- behandlungsverlauf.tier.tiername -}} &nbsp; {{- behandlungsverlauf.tier.tierart -}} &nbsp; {{- behandlungsverlauf.tier.geburtsdatum -}}</td>
                    <td border="0" width="30%" align="right">{{- behandlungsverlauf.datum -}}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <p>Diagnose: &nbsp; {{- behandlungsverlauf.diagnose -}}</p>
        </div>

        <div>
            <p>{{- behandlungsverlauf.behandlung -}}</p>
        </div>
    </body>
</html>
