<html>
    <body>
        <div style="padding-bottom: 20mm;">
            <p>{{- rechnung.person.anredecode | mapanrede -}}</p>

            <p>
               {{- rechnung.person.vorname -}} &nbsp; 
               {{- rechnung.person.familienname -}} &nbsp; 
               {{- rechnung.person.titel -}}
            </p>

            <p>{{- rechnung.person.adresse.strasse -}}</p>

            <p>
                {{- rechnung.person.adresse.postleitzahl -}} &nbsp; 
                {{- rechnung.person.adresse.ort -}}
            </p>
        </div>
        
        <div>
            <p>Rechnung: &nbsp; {{- rechnung.rechnungsjahr -}} / {{- rechnung.rechnungslfnr -}}</p>
        </div>

        <table border="0" width="100%">
            <thead border="0">
                <tr border="0">
                    <td border="0" width="70%">&nbsp;</td>
                    <td border="0" width="30%">&nbsp;</td>
                </tr>
            </thead>
            <tbody border="0">
                <tr border="0">
                    <td border="0" width="70%" align="left">Patient &nbsp; {{- rechnung.tier.tiername -}} &nbsp; {{- rechnung.tier.tierart -}} &nbsp; {{- rechnung.tier.geburtsdatum -}}</td>
                    <td border="0" width="30%" align="right">{{- rechnung.ausstellungsdatum -}}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <p>Chip: &nbsp; {{- rechnung.tier.chip_nummer -}}</p>
        </div>

        <div>
            <p>Diagnose: &nbsp; {{- rechnung.diagnose -}}</p>
        </div>

        <div>
            <p>Für tierärztliche Leistung und Medikamente erlaube ich mir zu berechnen.</p>
        </div>

        <div class="gap"></div>

        <table border="0" align="left" width="100%">
            <thead border="0" align="left">
                <tr border="0" align="left">
                    <td border="0" align="left" width="20%">&nbsp;</td>
                    <td border="0" align="left" width="60%">&nbsp;</td>
                    <td border="0" align="left" width="20%">&nbsp;</td>
                </tr>
            </thead>
            <tbody style="border: 0px;" border="0">
            {% for rechnungszeile in rechnung.rechnungszeilen %}
                <tr border="0">
                    <td border="0" width="20%" align="left">{{- rechnungszeile.datum -}}</td>
                    <td border="0" width="60%" align="left">{{- rechnungszeile.artikel -}}</td>
                    <td border="0" width="20%" align="right">{{- '{0:0.2f}'.format(rechnungszeile.betrag | float) -}}</td>
                </tr>
            {% endfor %}
                <tr border="0">
                    <td border="0" width="20%" align="left">Endsumme Brutto EUR</td>
                    <td border="0" width="60%" align="left">&nbsp;</td>
                    <td border="0" width="20%" align="right">{{- rechnung.brutto_summe -}}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <p>Zahlung: {{- rechnung.bezahlung -}}</p>
        </div>
    </body>
</html>
