<html>
    <body>
        <div style="padding-bottom: 20mm;">
            <p>{{- rechnung.person.anredecode | mapanrede -}}</p>

            <p>
               {{- rechnung.person.vorname -}} &nbsp; 
               {{- rechnung.person.familienname -}} &nbsp; 
               {{- rechnung.person.titel -}}
            </p>

            <p>{{- rechnung.person.adresse.strasse -}}</p>

            <p>
                {{- rechnung.person.adresse.postleitzahl -}} &nbsp; 
                {{- rechnung.person.adresse.ort -}}
            </p>
        </div>
        
        <div style="display: table; padding-bottom: 5mm;">
            <div style="display: table-row;">
                <div style="display: table-cell; width: 123mm;">
                    Rechnung: &nbsp; {{- rechnung.rechnungsjahr -}} / {{- rechnung.rechnungslfnr -}}
                </div>
                <div style="display: table-cell; width: 40mm; text-align: right;">
                    {{- rechnung.ausstellungsdatum -}}
                </div>
            </div>
        </div>

        <div>
            <p>
                Patient: &nbsp; 
                {{- rechnung.tier.tiername -}} &nbsp; 
                {{- rechnung.tier.tierart -}} &nbsp; 
                {%- if rechnung.tier.geburtsdatum -%}
                    geb. &nbsp; {{- rechnung.tier.geburtsdatum -}}
                {%- endif -%}
            </p>
        </div>

        <div>
            <p>Chip: &nbsp; {{- rechnung.tier.chip_nummer -}}</p>
        </div>

        <div>
            <p>Diagnose: &nbsp; {{- rechnung.diagnose -}}</p>
        </div>

        <div style="padding-top: 5mm;">
            <p>Für tierärztliche Leistung und Medikamente erlaube ich mir zu berechnen.</p>
        </div>

        <div style="display: table;">
          {% for rechnungszeile in rechnungszeilen %}
            <div style="display: table-row;">
                <div style="display: table-cell; width: 32mm;">
                    {{- rechnungszeile.datum -}}
                </div>
                <div style="display: table-cell; width: 99mm;">
                    {{- rechnungszeile.artikel -}}
                </div>
                <div style="display: table-cell; width: 32mm; text-align: right;">
                    {{- '{0:0.2f}'.format(rechnungszeile.betrag | float) -}}
                </div>
            </div>
          {% endfor %}
        </div>

        <hr>

        <div style="display: table;">
            <div style="display: table-row;">
                <div style="display: table-cell; width: 131mm;">
                    Summe netto EUR
                </div>
                <div style="display: table-cell; width: 32mm; text-align: right;">
                    {{- '{0:0.2f}'.format(rechnung.netto_summe | float) -}}
                </div>
            </div>

            <div style="display: table-row;">
                <div style="display: table-cell; width: 131mm;">
                    10% Umsatzsteuer
                </div>
                <div style="display: table-cell; width: 32mm; text-align: right;">
                    {{- '{0:0.2f}'.format(rechnung.steuerbetrag_zehn  | float) -}}
                </div>
            </div>

            <div style="display: table-row;">
                <div style="display: table-cell; width: 131mm;">
                    13% Umsatzsteuer
                </div>
                <div style="display: table-cell; width: 32mm; text-align: right;">
                    {{- '{0:0.2f}'.format(rechnung.steuerbetrag_dreizehn | float) -}}
                </div>
            </div>

            <div style="display: table-row;">
                <div style="display: table-cell; width: 131mm;">
                    20% Umsatzsteuer
                </div>
                <div style="display: table-cell; width: 32mm; text-align: right;">
                    {{- '{0:0.2f}'.format(rechnung.steuerbetrag_zwanzig  | float) -}}
                </div>
            </div>
        </div>

        <hr>

        <div style="display: table; padding-bottom: 5mm;">
            <div style="display: table-row;">
                <div style="display: table-cell; width: 131mm;">
                    Endsumme Brutto EUR
                </div>
                <div style="display: table-cell; width: 32mm; text-align: right;">
                    {{- '{0:0.2f}'.format(rechnung.brutto_summe | float) -}}
                </div>
            </div>
        </div>

        <div>
            <p>Zahlung: &nbsp; {{- rechnung.bezahlung -}}</p>
        </div>
    </body>
</html>
