<html>
    <body>
      <div style="display: table;">
      {% for tierhaltung in tierhaltungen %}
        {% if loop.index % 3 == 0 %}
          <div style="display: table-row;">
        {% endif %}
            <div style="display: table-cell; width: 57mm;">
              <p>
                {{- tierhaltung.Person.anredecode | mapanrede -}} &nbsp; 
                {{- tierhaltung.Person.titel -}}
              </p>
              <p>
                 {{- tierhaltung.Person.familienname -}} &nbsp; 
                 {{- tierhaltung.Person.vorname -}}
              </p>
              <p>{{- tierhaltung.Person.adresse.strasse -}}</p>
              <p>
                {{- tierhaltung.Person.adresse.postleitzahl -}} &nbsp; 
                {{- tierhaltung.Person.adresse.ort -}}
              </p>
            </div>
        {% if loop.index % 3 == 2 %}
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </body>
</html>
