
<form method="post" action="{{ url_for('ordi.index') }}">
    <div class="flex-container">
      <div>
        <label for="familienname">Familienname</label>
        <input type="text" size="10" name="familienname" id="familienname" value="{{ familienname }}">
      </div>

      <div>
        <label for="tiername">Tiername</label>
        <input type="text" size="10" name="tiername" id="tiername" value="{{ tiername }}">
      </div>

      <div>
        <label for="kunde">Kunde</label>
      </div>
      <div>
      {% if kunde == 0 %}
        <input type="checkbox" name="kunde" value="0">
      {% else %}
        <input type="checkbox" name="kunde" value="1" checked>
      {% endif %}
      </div>

      <div>
        <label for="patient">Patient</label>
      </div>
      <div>
      {% if patient == 0 %}
        <input type="checkbox" name="patient" value="0">
      {% else %}
        <input type="checkbox" name="patient" value="1" checked>
      {% endif %}
      </div>

      <div>
        <input type="submit" value="suchen">
      </div>
    </div>
</form>
