
    <div class="twocols tier">
        <label for="tiername">Tiername</label>
        {% if tierhaltung %}
            <input size="20" name="tiername" value="{{ tierhaltung['tiername'] }}" required>    
        {% else %}
            <input size="20" name="tiername" value="{{ request.form['tiername'] }}" required>
        {% endif %}

        <label for="tierart">Tierart</label>
        {% if tierhaltung %}
            <input size="20" name="tierart" value="{{ tierhaltung['tierart'] }}" required>
        {% else %}
            <input size="20" name="tierart" value="{{ request.form['tierart'] }}" required>
        {% endif %}

        <label for="rasse">Rasse</label>
        {% if tierhaltung %}
            <input size="20" name="rasse" value="{{ tierhaltung['rasse'] }}">
        {% else %}
            <input size="20" name="rasse" value="{{ request.form['rasse'] }}">
        {% endif %}

        <label for="farbe">Farbe</label>
        {% if tierhaltung %}
            <input size="20" name="farbe" value="{{ tierhaltung['farbe'] }}">
        {% else %}
            <input size="20" name="farbe" value="{{ request.form['farbe'] }}">
        {% endif %}

        <label for="geburtsdatum">Geburtsdatum</label>
        {% if tierhaltung %}
            <input size="10" class="date" name="geburtsdatum" value="{{ tierhaltung['geburtsdatum'] }}" required>
        {% else %}
            <input size="10" class="date" name="geburtsdatum" value="{{ request.form['geburtsdatum'] }}" required>
        {% endif %}

        <label for="geschlechtscode">Geschlecht</label>
        {% if tierhaltung %}
            {% set geschlechtscode = tierhaltung['geschlechtscode'] %}
        {% else %}
            {% set geschlechtscode = request.form['geschlechtscode'] | int %}                
        {% endif %}
        <select name="geschlechtscode">
        {%- for geschlechtswert in geschlechtswerte -%}
          {%- if geschlechtswert[1] == geschlechtscode -%}
            <option value="{{- geschlechtswert[1] -}}" selected>{{- geschlechtswert[0] -}}</option>
          {%- else -%}
            <option value="{{- geschlechtswert[1] -}}">{{- geschlechtswert[0] -}}</option>
          {%- endif -%}
        {%- endfor -%}
        </select>

        <label for="chip_nummer">Chip Nummer</label>
        {% if tierhaltung %}
            <input size="20" name="chip_nummer" value="{{ tierhaltung['chip_nummer'] }}">    
        {% else %}
            <input size="20" name="chip_nummer" value="{{ request.form['chip_nummer'] }}">
        {% endif %}

        <label for="eu_passnummer">EU Passnummer</label>
        {% if tierhaltung %}
            <input size="20" name="eu_passnummer" value="{{ tierhaltung['eu_passnummer'] }}">
        {% else %}
            <input size="20" name="eu_passnummer" value="{{ request.form['eu_passnummer'] }}">
        {% endif %}

        <label for="patient">Patient</label>
        {% if tierhaltung %}
            {% if tierhaltung['patient'] == 0 %}
                <input type="checkbox" name="patient" value="0">
            {% else %}
                <input type="checkbox" name="patient" value="1" checked>
            {% endif %}
        {% else %}
            {% if new %}
                <input type="checkbox" name="patient" value="1" checked>
            {% else %}
                {% if request.form.get('patient') %}
                    <input type="checkbox" name="patient" value="1" checked>
                {% else %}
                    <input type="checkbox" name="patient" value="1">
                {% endif %}
            {% endif %}
        {% endif %}

        <label for="viren">Viren</label>
        {% if tierhaltung %}
            <input size="20" name="viren" value="{{ tierhaltung['viren'] }}">
        {% else %}
            <input size="20" name="viren" value="{{ request.form['viren'] }}">
        {% endif %}

        <label for="merkmal">Merkmal</label>
        {% if tierhaltung %}
            <input size="20" name="merkmal" value="{{ tierhaltung['merkmal'] }}">
        {% else %}
            <input size="20" name="merkmal" value="{{ request.form['merkmal'] }}">
        {% endif %}
    </div>

