
<form method="post" action="{{ url_for('ordi.index', searchoption=searchoption, criteria=criteria, kunde=kunde, patient=patient) }}">
    <div class="flex-container">
        <label for="searchoption">Filter</label>
        <select name="searchoption" id="searchoption">
        {% if searchoption == 0 %}
            <option value="0" selected>Familienname</option>
        {% else %}
            <option value="0">Familienname</option>
        {% endif %}
        {% if searchoption == 1 %}
            <option value="1" selected>Tiername</option>
        {% else %}
            <option value="1">Tiername</option>
        {% endif %}
        </select>

        <input type="text" size="10" name="criteria" id="criteria" value="{{ criteria }}">

        <label for="kunde">Kunden Kennzeichen</label>
        {% if kunde == 0 %}
            <input size="5" type="checkbox" name="kunde" value="0">
        {% else %}
            <input size="5" type="checkbox" name="kunde" value="1" checked>
        {% endif %}

        <label for="patient">Patient</label>
        {% if patient == 0 %}
            <input size="5" type="checkbox" name="patient" value="0">
        {% else %}
            <input size="5" type="checkbox" name="patient" value="1" checked>
        {% endif %}

        <input type="submit" value="Suchen">
    </div>
</form>
