
<form method="post" action="{{ url_for('ordi.index') }}">
    <div class="flex-container">
      <div>
        <label for="searchoption">Filter</label>
      </div>
      <div>
        <select name="searchoption" id="searchoption">
        {% if searchoption == 0 %}
            <option value="0" selected>Familienname</option>
        {% else %}
            <option value="0">Familienname</option>
        {% endif %}
        {% if searchoption == 1 %}
            <option value="1" selected>Tiername</option>
        {% else %}
            <option value="1">Tiername</option>
        {% endif %}
        </select>
      </div>

      <div>
        <input type="text" size="10" name="criteria" id="criteria" value="{{ criteria }}">
      </div>

      <div>
        <label for="kunde">Kunden Kennzeichen</label>
      </div>

      <div>
      {% if kunde == 0 %}
        <input type="checkbox" name="kunde" value="0">
      {% else %}
        <input type="checkbox" name="kunde" value="1" checked>
      {% endif %}
      </div>

      <div>
        <label for="patient">Patient</label>
      </div>
      <div>
      {% if patient == 0 %}
        <input type="checkbox" name="patient" value="0">
      {% else %}
        <input type="checkbox" name="patient" value="1" checked>
      {% endif %}
      </div>

      <div>
        <input type="submit" value="Suchen">
      </div>
    </div>
</form>
