
        <label for="anredeartcode">Anrede</label>
        <select name="anredeartcode" id="anredeartcode">
            {% if request.form['anredeartcode'] == 0 %}
                <option value="0" selected>&nbsp;</option>
            {% else %}
                <option value="0">&nbsp;</option>
            {% endif %}
            {% if request.form['anredeartcode'] == 1 %}
                <option value="1" selected>Herr</option>
            {% else %}
                <option value="1">Herr</option>
            {% endif %}
            {% if request.form['anredeartcode'] == 2 %}
                <option value="2" selected>Frau</option>
            {% else %}
                <option value="2">Frau</option>
            {% endif %}
            {% if request.form['anredeartcode'] == 3 %}
                <option value="3" selected>Firma</option>
            {% else %}
                <option value="3">Firma</option>
            {% endif %}
        </select>

        <label for="titel">Titel</label>
        <input name="titel" id="titel" value="{{ request.form['titel'] }}">

        <label for="familienname">Familienname</label>
        <input name="familienname" id="familienname" value="{{ request.form['familienname'] }}" required>

        <label for="vorname">Vorname</label>
        <input name="vorname" id="vorname" value="{{ request.form['vorname'] }}">

        <label for="notiz">Notiz</label>
        <input name="notiz" id="wplayer_name" value="{{ request.form['notiz'] }}">

        <label for="kunde">Kunden Kennzeichen</label>
        {% if request.form['kunde'] == 0 %}
            <input type="checkbox" name="kunde" value="0">
        {% else %}
            <input type="checkbox" name="kunde" value="1" checked>
        {% endif %}

        <label for="strasse">Straße</label>
        <input name="strasse" id="strasse" value="{{ request.form['strasse'] }}">

        <label for="postleitzahl">Postleitzahl</label>
        <input name="postleitzahl" id="postleitzahl" value="{{ request.form['postleitzahl'] }}">
        
        <label for="ort">Ort</label>
        <input name="ort" id="ort" value="{{ request.form['ort'] }}">

        <label for="kontaktartcode">Kontaktart</label>
        <select name="kontaktartcode" id="kontaktartcode">
            {% if request.form['kontaktartcode'] == 0 %}
                <option value="0" selected>&nbsp;</option>
            {% else %}
                <option value="0">&nbsp;</option>
            {% endif %}
            {% if request.form['kontaktartcode'] == 1 %}
                <option value="1" selected>Telefonnr.</option>
            {% else %}
                <option value="1">Telefonnr.</option>
            {% endif %}
            {% if request.form['kontaktartcode'] == 2 %}
                <option value="2" selected>E-Mail</option>
            {% else %}
                <option value="2">E-Mail</option>
            {% endif %}
        </select>

        <label for="kontakt">Kontakt</label>
        <input name="kontakt" id="kontakt" value="{{ request.form['kontakt'] }}">
