
    <div class="row-grid" style="margin-right: 40px; grid-template-columns: auto auto;">
        <p>Anrede</p>
        <p>{{ tierhaltung.Person.anredecode | mapanrede }}</p>

        <p>Titel</p>
        <p>{{ tierhaltung.Person.titel }}</p>

        <p>Familienname</p>
        <p>{{ tierhaltung.Person.familienname }}</p>

        <p>Vorname</p>
        <p>{{ tierhaltung.Person.vorname }}</p>

        <p>Notiz</p>
        <p>{{ tierhaltung.Person.notiz }}</p>

        <p>Kunden Kennzeichen</p>
        {% if tierhaltung.Person.kunde == 0 %}
            <input type="checkbox" name="kunde" value="0" disabled>
        {% else %}
            <input type="checkbox" name="kunde" value="1" checked disabled>
        {% endif %}

        <p>Postleitzahl</p>
        <p>{{  tierhaltung.Person.adressen[0].postleitzahl }}</p>

        <p>Ort</p>
        <p>{{  tierhaltung.Person.adressen[0].ort }}</p>

        <p>Straße</p>
        <p>{{  tierhaltung.Person.adressen[0].strasse }}</p>

        {% if  tierhaltung.Person.kontakte[0] %}
            <p>Telefonnr.</p>
            <p>{{  tierhaltung.Person.kontakte[0].kontakt }}</p>
        {% else %}
            <p>Telefonnr.</p>
            <p>&nbsp;</p>
        {% endif %}
        {% if  tierhaltung.Person.kontakte[1] %}
            <p>Telefonnr.</p>
            <p>{{  tierhaltung.Person.kontakte[1].kontakt }}</p>
        {% else %}
            <p>Telefonnr.</p>
            <p>&nbsp;</p>
        {% endif %}
    </div>
