
    <div class="twocols person" style="margin-right: 40px">
        <p>Anrede</p>
        {% if tierhaltung['anredecode'] == 0 %}
            <p>&nbsp;</p>
        {% endif %}
        {% if tierhaltung['anredecode'] == 1 %}
            <p>Herr</p>
        {% endif %}
        {% if tierhaltung['anredecode'] == 2 %}
            <p>Frau</p>
        {% endif %}
        {% if tierhaltung['anredecode'] == 3 %}
            <p>Familie</p>
        {% endif %}
        {% if tierhaltung['anredecode'] == 4 %}
            <p>Firma</p>
        {% endif %}

        <p>Titel</p>
        <p>{{ tierhaltung['titel'] }}</p>

        <p>Familienname</p>
        <p>{{ tierhaltung['familienname'] }}</p>

        <p>Vorname</p>
        <p>{{ tierhaltung['vorname'] }}</p>

        <p>Notiz</p>
        <p>{{ tierhaltung['notiz'] }}</p>

        <p>Kunden Kennzeichen</p>
        {% if tierhaltung['kunde'] == 0 %}
            <input type="checkbox" name="kunde" value="0" disabled>
        {% else %}
            <input type="checkbox" name="kunde" value="1" checked disabled>
        {% endif %}

        <p>Postleitzahl</p>
        <p>{{ adresse['postleitzahl'] }}</p>

        <p>Ort</p>
        <p>{{ adresse['ort'] }}</p>

        <p>Straße</p>
        <p>{{ adresse['strasse'] }}</p>

        {% if kontakte and kontakte[0] %}
            <p>Telefonnr.</p>
            <p>{{ kontakte[0]['kontakt'] }}</p>
        {% else %}
            <p>Telefonnr.</p>
            <p>&nbsp;</p>
        {% endif %}
        {% if kontakte and kontakte[1] %}
            <p>Telefonnr.</p>
            <p>{{ kontakte[1]['kontakt'] }}</p>
        {% else %}
            <p>Telefonnr.</p>
            <p>&nbsp;</p>
        {% endif %}
    </div>
