
    <!--div class="twocols tier" !-->
    <div class="row-grid" style="margin-right: 40px; grid-template-columns: auto auto;">
        <p>Tiername</p>
        <p>{{ tierhaltung.tier.tiername }}</p>

        <p>Tierart</p>
        <p>{{ tierhaltung.tier.tierart }}</p>

        <p>Rasse</p>
        <p>{{ tierhaltung.tier.rasse }}</p>

        <p>Farbe</p>
        <p>{{ tierhaltung.tier.farbe }}</p>

        <p>Geburtsdatum</p>
        <p>{{ tierhaltung.tier.geburtsdatum }}</p>

        <p>Geschlecht</p>
        <p>{{tierhaltung.tier.geschlechtscode | mapgeschlecht }}</p>

        <p>Chip Nummer</p>
        <p>{{ tierhaltung.tier.chip_nummer }}</p>

        <p>EU Passnummer</p>
        <p>{{ tierhaltung.tier.eu_passnummer }}</p>

        <p>Patient</p>
        {% if tierhaltung.tier.patient == 0 %}
            <input type="checkbox" name="patient" value="0" disabled>
        {% else %}
            <input type="checkbox" name="patient" value="1" checked disabled>
        {% endif %}

        <p>Viren</p>
        <p>{{ tierhaltung.tier.viren }}</p>

        <p>Merkmal</p>
        <p>{{ tierhaltung.tier.merkmal }}</p>
    </div>

