
{% extends 'base.html' %}


{% block title %}
  Neues Tier
{% endblock %}


{% block content %}
    <div>
        <h2>Neues Tier</h2>
        <hr>
    </div>
    <form method="post">
        {% include 'ordi/_tier.html' %}

        <div>
            <div class="twocols">
                <input type="submit" value="Speichern" style="margin-right: 20px;">
                <p class="btn"><a href="{{ url_for('ordi.index') }}">Abbrechen</a></p>
            </div>
        </div>
    </form>
{% endblock %}
