
{% extends 'base.html' %}


{% block title %}
  Neues Tier
{% endblock %}


{% block content %}
    <form method="post">
        {% include 'ordi/_tier.html' %}

        <div>
            <div class="twocols">
                <input type="submit" value="Speichern" style="margin-right: 20px;">
                <p class="btn"><a href="{{ url_for('ordi.index') }}">Abbrechen</a></p>
            </div>
        </div>
    </form>

    <script>
        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ dateFormat: "yy-mm-dd" });
        });
    </script>
{% endblock %}
