
{% extends 'base.html' %}


{% block title %}
  Behandlungsverlauf
{% endblock %}


{% block content %}
    <div>
      <div class="row-grid" style="grid-template-columns: auto auto;">
        {% if behandlungsverlauf.id %}
            {% with person=behandlungsverlauf.person %}
              {% include 'ordi/_person.html' %}
            {% endwith %}

            {% with tier=behandlungsverlauf.tier %}
              {% include 'ordi/_tier.html' %}
            {% endwith %}
        {% else %}
              {% include 'ordi/_person.html' %}
              {% include 'ordi/_tier.html' %}
        {% endif %}
      </div>
    </div>

    <div class="small-gap"></div>

    {% if behandlungsverlauf.id %}
      <form method="post" action="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf.id) }}">
    {% else %}
      <form method="post" action="{{ url_for('ordi.create_behandlungsverlauf', id=id) }}">
    {% endif %}
        <input type="hidden" name="behandlungsverlauf_id" id="behandlungsverlauf_id" value="{{- request.form['behandlungsverlauf_id'] or behandlungsverlauf.id -}}">

      <div class="row-grid" style="grid-template-columns: auto auto;">
        <label for="datum">Datum</label>
        <input size="10" type="text" name="datum" id="datum" class="date" value="{{- request.form['datum'] or behandlungsverlauf.datum or datum -}}" required>

        <label for="diagnose">Diagnose</label>
        <input size="40" type="text" name="diagnose" id="diagnose" value="{{- request.form['diagnose'] or behandlungsverlauf.diagnose -}}" required>

        <label style="align-items: top;" for="behandlung">Behandlung</label>
        <textarea style="width: 640px; height: 180px" name="behandlung" id="behandlung" required>{{- request.form['behandlung'] or behandlungsverlauf.behandlung -}}</textarea>
      </div>

      <div class="small-gap"></div>

      <div class="flex-container">
      {% if behandlungsverlauf.id %}
        <p><span class="btn" style="color: Gray">Behandlungsverlauf speichern</span></p>
        <p><input type="submit" value="Behandlungsverlauf speichern und drucken"></p>
      {% else %}
        <p><input type="submit" value="Behandlungsverlauf speichern"></p>
        <p><span class="btn" style="color: Gray">Behandlungsverlauf speichern und drucken</span></p>
      {% endif %}
      </div>
    </form>

    <script>
        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true 
            });

            $("#diagnose").focus();
        });
    </script>
{% endblock %}
