
{% extends 'base.html' %}


{% block title %}
  Behandlungsverlauf
{% endblock %}


{% block content %}
    <div>
        <div class="row-grid" style="grid-template-columns: auto auto;">
            {% include 'ordi/_person.html' %}

            {% include 'ordi/_tier.html' %}
        </div>
    </div>

    <div class="small-gap"></div>

    {% if behandlungsverlauf %}
        <form method="post" action="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">
    {% else %}
        <form method="post" action="{{ url_for('ordi.create_behandlungsverlauf', id=tierhaltung['id']) }}">
    {% endif %}

    <div class="row-grid" style="grid-template-columns: auto auto;">
      {% if behandlungsverlauf %}
        <label for="datum">Datum</label>
        <input size="10" type="text" name="datum" id="datum" class="date" value="{{ behandlungsverlauf['datum'] }}" required>

        <label for="diagnose">Diagnose</label>
        <input size="40" type="text" name="diagnose" id="diagnose" value="{{ behandlungsverlauf['diagnose'] }}" required>

        <label for="behandlung">Behandlung</label>
        <textarea style="width: 100%; height: 120" name="behandlung" id="behandlung" required>{{ behandlungsverlauf['behandlung'] }}</textarea>
      {% else %}
        <label for="datum">Datum</label>
        <input size="10" type="text" name="datum" id="datum" class="date" value="{{ request.form['datum'] }}" required>

        <label for="diagnose">Diagnose</label>
        <input size="40" type="text" name="diagnose" id="diagnose" value="{{ request.form['diagnose'] }}" required>

        <label for="behandlung">Behandlung</label>
        <textarea style="width: 100%; height: 120px" name="behandlung" id="behandlung" required>{{ request.form['behandlung'] }}</textarea>
      {% endif %}
    </div>

        <div class="small-gap"></div>

        <div><input type="submit" value="Behandlungsverlauf drucken"></div>
    </form>

    <script>
        $(document).ready(function(){
            $(".person input").prop("disabled", true);
            $(".person select").prop("disabled", true);

            $(".tier input").prop("disabled", true);
            $(".tier select").prop("disabled", true);

            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true 
            });

            $("#diagnose").focus();
        });
    </script>
{% endblock %}
