
{% extends 'base.html' %}


{% block title %}
  Behandlungsverlauf
{% endblock %}


{% block content %}
    <div>
        <div class="twocols">
            {% include 'ordi/_person.html' %}

            {% include 'ordi/_tier.html' %}
        </div>
    </div>

    <div class="huge-gap"></div>

    {% if behandlungsverlauf %}
        <form method="post" action="{{ url_for('ordi.editverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">
    {% else %}
        <form method="post" action="{{ url_for('ordi.createverlauf', id=karteikarte['id']) }}">
    {% endif %}

    <div style="display: inline-grid; grid-template-columns: auto ;">
        {% if behandlungsverlauf %}
            <div><input type="text" name="datum" id="datum" class="date" value="{{ behandlungsverlauf['datum'] }}" required></div>
            <div><input type="text" name="diagnose" id="diagnose" value="{{ behandlungsverlauf['diagnose'] }}" required></div>
            <div><textarea name="behandlung" id="behandlung" required>{{ behandlungsverlauf['behandlung'] }}</textarea></div>
        {% else %}
            <div><input type="text" name="datum" id="datum" class="date" value="{{ request.form['datum'] }}" required></div>
            <div><input type="text" name="diagnose" id="diagnose" value="{{ request.form['diagnose'] }}" required></div>
            <div><textarea name="behandlung" id="behandlung" required>{{ request.form['behandlung'] }}</textarea></div>
        {% endif %}
        <div><input type="submit" value="Behandlungsverlauf drucken"></div>
    </div>
    </form>


    <script>
        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true 
            });

            $("#diagnose").focus();
        });
    </script>
{% endblock %}
