
{% extends 'base.html' %}


{% block title %}
  Behandlungsverläufe
{% endblock %}


{% block content %}
    <div class="gap"></div>
      <form method="post" action="{{ url_for('ordi.behandlungsverlaeufe') }}">
        <div class="flex-container">
            <div>
                <label for="behandlungsjahr">Behandlungsjahr</label>
                <input type="text" size="10" name="behandlungsjahr" id="behandlungsjahr" value="{{ behandlungsjahr }}">
            </div>
            <div>
                <input type="submit" value="suchen">
            </div>
        </div>
      </form>

    <div class="gap"></div>

    <div style="max-height: 70vh; overflow-y: scroll">
      <table class="liste">
        <tr>
            <th width="2%">&nbsp;</th>
            <th width="8%">Behandlungsdatum</th>
            <th width="6%">Anrede</th>
            <th width="18%">Familienname</th>
            <th width="12%">Vorname</th>
            <th width="18%">Tiername</th>
            <th width="12%">Tierart</th>
            <th width="10%">Rasse</th>
            <th width="6%"Geschl.</th>
            <th width="8%">Geb.Datum</th>
        </tr>
      {% for behandlungsverlauf in behandlungsverlaeufe %}
        <tr>
            <td style="width: 2%; text-align: center"><input type="radio" name="option" value="{{ behandlungsverlauf['id'] }}"></td>
            <td style="width: 6%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['datum'] }}</a></td>
            <td style="width: 6%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['anredecode']|mapanrede }}</a></td>
            <td style="width: 18%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['familienname'] }}</a></td>
            <td style="width: 12%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['vorname'] }}</a></td>
            <td style="width: 18%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['tiername'] }}</a></td>
            <td style="width: 12%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['tierart'] }}</a></td>
            <td style="width: 10%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['rasse'] }}</a></td>
            <td style="width: 6%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['geschlechtcode']|mapgeschlecht }}</a></td>
            <td style="width: 8%"><a href="{{ url_for('ordi.edit_behandlungsverlauf', behandlungsverlauf_id=behandlungsverlauf['id']) }}">{{ behandlungsverlauf['geburtsdatum'] }}</a></td>
        </tr>
      {% endfor %}
      </table>
    </div>

    <div class="gap"></div>

    <div class="flex-container">
        <p><a class="btn" id="zum_behandlungsverlauf" href="#">zum Behandlungsverlauf</a></p>
        <p><a class="btn" id="behandlungsverlauf_loeschen" href="#">Behandlungsverlauf löschen</a></p>
    </div>

    <script>
        $(document).ready(function() {
            $('#zum_behandlungsverlauf').click(function(){ 
                var id = $("input:radio[name=option]:checked").val(); 
                if(id == null){
                    alert("Bitte eine Karteikarte auswählen!");
                }
                else{
                    window.location = "/" + id.toString() + "/edit_behandlungsverlauf";
                }
                return false; 
            });
            $('#behandlungsverlauf_loeschen').click(function(){ 
                var id = $("input:radio[name=option]:checked").val(); 
                if(id == null){
                    alert("Bitte eine Karteikarte auswählen!");
                }
                else{
                    if(confirm("Soll der Datensatz gelöscht werden?")){
                        window.location = "/" + id.toString() + "/delete_behandlungsverlauf";
                        return true;
                    }
                    else{
                        return false;
                    }
                }
                return false; 
            });
        });
    </script>
{% endblock %}

