
{% extends 'base.html' %}


{% block title %}
  Neue Karteikarte
{% endblock %}


{% block content %}
    <div>
        <h2>Neue Karteikarte</h2>
        <hr>
    </div>
    <form method="post">
        <div class="twocols">
            {% include 'ordi/_person.html' %}
            {% include 'ordi/_tier.html' %}
        </div>
        <div>
            <div class="twocols">
                <input type="submit" value="Speichern" style="margin-right: 20px;">
                <p class="btn"><a href="{{ url_for('ordi.index') }}">Abbrechen</a></p>
            </div>
        </div>
    </form>
{% endblock %}
