
{% extends 'base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
    <h2>Karteikarte</h2>

    {% include 'ordi/_person.html' %}
    {% include 'ordi/_tier.html' %}

    <div class="huge-gap"></div>

    <div class="behandlungen">
        <table class="liste">
            <tr>
                <th>Datum</th>
                <th>Gewicht</th>
                <th>Diagnose</th>
                <th>Laborwerte1</th>
                <th>Laborwerte2</th>
                <th>Arzneien</th>
                <th>Arzneimittel</th>
                <th>Impfungen</th>
                <th>&nbsp;</th>
            </tr>
            {% for behandlung in behandlungen %}
            <form method="post" action="{{ url_for('ordi.editbehandlung', id=karteikarte['id'], behandlung_id=behandlung['id']) }}">
            <tr class="behandlung">
                <td><input size="8" class="date" name="behandlungsdatum" id="behandlungsdatum{{behandlung['id']}}" value="{{ behandlung['behandlungsdatum'] }}"></td>
                <td><input size="3" name="gewicht_Kg" id="gewicht_Kg{{behandlung['id']}}" value="{{ behandlung['gewicht_Kg'] }}"></td>
                <td><input size="5" name="diagnose" id="diagnose{{behandlung['id']}}" value="{{ behandlung['diagnose'] }}"></td>
                <td><input size="5" name="laborwerte1" id="laborwerte1{{behandlung['id']}}" value="{{ behandlung['laborwerte1'] }}"></td>
                <td><input size="5" name="laborwerte2" id="laborwerte2{{behandlung['id']}}" value="{{ behandlung['laborwerte2'] }}"></td>
                <td><input size="5" name="arzneien" id="arzneien{{behandlung['id']}}" value="{{ behandlung['arzneien'] }}"></td>
                <td><input size="5" name="arzneimittel" id="arzneimittel{{behandlung['id']}}" value="{{ behandlung['arzneimittel'] }}"></td>
                <td><input size="5" name="impfungen_extern" id="impfungen_extern{{behandlung['id']}}" value="{{ behandlung['impfungen_extern'] }}"></td>
                <td><input type="submit" value="Bearbeiten"></td>
            </tr>
            </form>
            {% endfor %}
            <form method="post" action="{{ url_for('ordi.newbehandlung', id=karteikarte['id']) }}">
            <tr>
                <td><input size="8" class="date" name="behandlungsdatum" id="behandlungsdatum" value="{{ request.form['behandlungsdatum'] or behandlungsdatum }}"></td>
                <td><input size="3" name="gewicht_Kg" id="gewicht_Kg" value="{{ request.form['gewicht_Kg'] }}"></td>
                <td><input size="5" name="diagnose" id="diagnose" value="{{ request.form['diagnose'] }}"></td>
                <td><input size="5" name="laborwerte1" id="laborwerte1" value="{{ request.form['laborwerte1'] }}"></td>
                <td><input size="5" name="laborwerte2" id="laborwerte2" value="{{ request.form['laborwerte2'] }}"></td>
                <td><input size="5" name="arzneien" id="arzneien" value="{{ request.form['arzneien'] }}"></td>
                <td><input size="5" name="arzneimittel" id="arzneimittel" value="{{ request.form['arzneimittel'] }}"></td>
                <td><input size="5" name="impfungen_extern" id="impfungen_extern" value="{{ request.form['impfungen_extern'] }}"></td>
                <td><input size="5" type="submit" value="Speichern"></td>
            </tr>
            </form>
    </table>

    <script>
        $(document).ready(function(){
            $( ".person input" ).prop( "disabled", true );
            $( ".person select" ).prop( "disabled", true );

            $( ".tier input" ).prop( "disabled", true );
            $( ".tier select" ).prop( "disabled", true );

            $( ".behandlung input" ).prop( "disabled", false );
            $( ".behandlung select" ).prop( "disabled", false );

            $( "input[type=submit]" ).prop( "disabled", false );
            
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ dateFormat: "yy-mm-dd" });
        });
    </script>
{% endblock %}
