
{% extends 'base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
    <h2>Karteikarte</h2>

    {% include 'ordi/_person.html' %}
    {% include 'ordi/_tier.html' %}

    <div class="huge-gap"></div>

    <div class="behandlungen">
        <table class="liste">
            <tr>
                <th>Datum</th>
                <th>Gewicht</th>
                <th>Diagnose</th>
                <th>Laborwerte1</th>
                <th>Laborwerte2</th>
                <th>Arzneien</th>
                <th>Arzneimittel</th>
                <th>Impfungen</th>
                <th>&nbsp;</th>
            </tr>
            {% for behandlung in behandlungen %}
            <form method="post" action="{{ url_for('ordi.editbehandlung', behandlung_id=behandlung['id']) }}">
            <tr class="behandlung">
                <td><input size="8" name="behandlungsdatum" id="behandlungsdatum" value="{{ behandlung['behandlungsdatum'] }}"></td>
                <td><input size="3" name="gewicht_Kg" id="gewicht_Kg" value="{{ behandlung['gewicht_Kg'] }}"></td>
                <td><input size="5" name="diagnose" id="diagnose" value="{{ behandlung['diagnose'] }}"></td>
                <td><input size="5" name="laborwerte1" id="laborwerte1" value="{{ behandlung['laborwerte1'] }}"></td>
                <td><input size="5" name="laborwerte2" id="laborwerte2" value="{{ behandlung['laborwerte2'] }}"></td>
                <td><input size="5" name="arzneien" id="arzneien" value="{{ behandlung['arzneien'] }}"></td>
                <td><input size="5" name="arzneimittel" id="arzneimittel" value="{{ behandlung['arzneimittel'] }}"></td>
                <td><input size="5" name="impfungen_extern" id="impfungen_extern" value="{{ behandlung['impfungen_extern'] }}"></td>
                <td><input type="submit" value="Bearbeiten"></td>
            </tr>
            </form>
            {% endfor %}
            <form method="post" action="{{ url_for('ordi.newbehandlung', tierhaltung_id=karteikarte['id']) }}">
            <tr>
                <td><input size="8" name="behandlungsdatum" id="behandlungsdatum"></td>
                <td><input size="3" name="gewicht_Kg" id="gewicht_Kg"></td>
                <td><input size="5" name="diagnose" id="diagnose"></td>
                <td><input size="5" name="laborwerte1" id="laborwerte1"></td>
                <td><input size="5" name="laborwerte2" id="laborwerte2"></td>
                <td><input size="5" name="arzneien" id="arzneien"></td>
                <td><input size="5" name="arzneimittel" id="arzneimittel"></td>
                <td><input size="5" name="impfungen_extern" id="impfungen_extern"></td>
                <td><input size="5" type="submit" value="Speichern"></td>
            </tr>
            </form>
    </table>

    <script>
        $(document).ready(function(){
            $( ".person input" ).prop( "disabled", true );
            $( ".person select" ).prop( "disabled", true );

            $( ".tier input" ).prop( "disabled", true );
            $( ".tier select" ).prop( "disabled", true );

            $( ".behandlung input" ).prop( "disabled", false );
            $( ".behandlung select" ).prop( "disabled", false );

            $( "input[type=submit]" ).prop( "disabled", false );
        });
    </script>
{% endblock %}
