
{% extends 'base.html' %}


{% block title %}
  Tier ändern
{% endblock %}


{% block content %}
    <form method="post">

        {% include 'ordi/_form_for_tier.html' %}

        <div class="small-gap"></div>

        <div class="flex-container">
            <input class="btn" type="submit" value="Speichern" style="margin-right: 20px;">
            <p class="btn"><a href="{{ url_for('ordi.show', id=id) }}">Abbrechen</a></p>
        </div>
    </form>

    <script>
        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
{% endblock %}
