
{% extends 'base.html' %}


{% block title %}
  Karteikarten
{% endblock %}


{% block content %}
    <div class="gap"></div>

    <table class="liste">
        <colgroup>
            <col width="6%">
            <col width="6%">
            <col width="4%">
            <col width="14%">
            <col width="10%">
            <col width="12%">
            <col width="12%">
            <col width="8%">
            <col width="4%">
            <col width="8%">
            <col width="10%">
            <col width="6%">
        <colgroup>
        <tr>
            <th>&nbsp;</th>
            <th>Anrede</th>
            <th>Titel</th>
            <th>Familienname</th>
            <th>Vorname</th>
            <th>Tiername</th>
            <th>Tierart</th>
            <th>Rasse</th>
            <th>Geschl.</th>
            <th>Geb.Datum</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
      {% for tierhaltung in tierhaltungen %}
        <tr>
            <td><a class="btn" href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">Bearb.</a></div></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['anredeartcode']|mapanrede }}</a></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['titel'] }}</a></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['familienname'] }}</a></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['vorname'] }}</a></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['tiername'] }}</a></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['tierart'] }}</a></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['rasse'] }}</a></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['geschlechtsartcode']|mapgeschlecht }}</a></td>
            <td><a href="{{ url_for('ordi.edit', id=tierhaltung['id']) }}">{{ tierhaltung['geburtsdatum'] }}</a></td>
            <td><a class="btn" href="{{ url_for('ordi.addtier', person_id=tierhaltung['person_id']) }}">Tier hinzuf.</a></td>
            <td><a class="btn delete" href="{{ url_for('ordi.delete', id=tierhaltung['id']) }}">Löschen</a></td>
        </tr>
      {% endfor %}
    </table>

    <div class="gap"></div>

    <div class="flex-container">
        <p style="width: 160px"><a class="btn" href="{{ url_for('ordi.create') }}">neue Karteikarte</a></p>
        <p>neue Rechnung</p>
        <p>neuer Behandlungsverlauf</p>
    </div>

    <script>
        $(document).ready(function() {
            $(".delete").click(function() {
                if(confirm("Soll der Datensatz gelöscht werden?")){
                    return true;
                }
                else{
                    return false;
                }
            });
        });
    </script>
{% endblock %}

