
{% extends 'base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
    <h2>Karteikarte</h2>
    <div class="twocols">
        <div class="twocols">
            <div>Anrede</div>
            <div>{{ karteikarte['anredeartcode'] }}</div>

            <div>Titel</div>
            <div>{{ karteikarte['titel'] }}</div>

            <div>Familienname</div>
            <div>{{ karteikarte['familienname'] }}</div>

            <div>Vorname</div>
            <div>{{ karteikarte['vorname'] }}</div>

            <div>Notiz</div>
            <div>{{ karteikarte['notiz'] }}</div>

            <div>Kunde</div>
            <div>{{ karteikarte['kunde'] }}</div>

            <div>Straße</div>
            <div>{{ karteikarte['strasse'] }}</div>

            <div>Postleitzahl</div>
            <div>{{ karteikarte['postleitzahl'] }}</div>

            <div>Ort</div>
            <div>{{ karteikarte['ort'] }}</div>

            <div>Kontaktart</div>
            <div>{{ karteikarte['kontaktartcode'] }}</div>

            <div>Kontakt</div>
            <div>{{ karteikarte['kontakt'] }}</div>
        </div>
        <div class="twocols">
            <div>Tiername</div>
            <div>{{ karteikarte['tiername'] }}</div>

            <div>Tierart</div>
            <div>{{ karteikarte['tierart'] }}</div>

            <div>Rasse</div>
            <div>{{ karteikarte['rasse'] }}</div>

            <div>Farbe</div>
            <div>{{ karteikarte['farbe'] }}</div>

            <div>Geburtsdatum</div>
            <div>{{ karteikarte['geburtsdatum'] }}</div>

            <div>Geschlecht</div>
            <div>{{ karteikarte['geschlechtsartcode'] }}</div>

            <div>Chipnr.</div>
            <div>{{ karteikarte['chip_nummer'] }}</div>

            <div>EU-Passnr.</div>
            <div>{{ karteikarte['eu_passnummer'] }}</div>

            <div>Patient</div>
            <div>{{ karteikarte['patient'] }}</div>

            <div>Viren</div>
            <div>{{ karteikarte['viren'] }}</div>

            <div>Merkmal</div>
            <div>{{ karteikarte['merkmal'] }}</div>
        </div>
    </div>

    <div class="huge-gap"></div>

    <table class="liste">
        <tr>
            <th>Datum</th>
            <th>Gewicht</th>
            <th>Diagnose</th>
            <th>Laborwerte1</th>
            <th>Laborwerte2</th>
            <th>Arzneien</th>
            <th>Arzneimittel</th>
            <th>Impfungen</th>
        </tr>
        <tr>
            <td>
                <form method="post">
                <input size="5" name="behandlungsdatum" id="behandlungsdatum" value="{{ request.form['behandlungsdatum'] }}">
            </td>
            <td><input size="5" name="gewicht_Kg" id="gewicht_Kg" value="{{ request.form['gewicht_Kg'] }}"></td>
            <td><input size="5" name="diagnose" id="diagnose" value="{{ request.form['diagnose'] }}"></td>
            <td><input size="5" name="laborwerte1" id="laborwerte1" value="{{ request.form['laborwerte1'] }}"></td>
            <td><input size="5" name="laborwerte2" id="laborwerte2" value="{{ request.form['laborwerte2'] }}"></td>
            <td><input size="5" name="arzneien" id="arzneien" value="{{ request.form['arzneien'] }}"></td>
            <td><input size="5" name="arzneimittel" id="arzneimittel" value="{{ request.form['arzneimittel'] }}"></td>
            <td>
                <input size="5" name="impfungen_extern" id="impfungen_extern" value="{{ request.form['impfungen_extern'] }}">
                <div><input type="submit" value="Save">
                </form>
            </td>
        </tr>
      {% for behandlung in behandlungen %}
        <tr>
            <td>{{ behandlungen['behandlungsdatum'] }}</td>
            <td>{{ behandlungen['gewicht_Kg'] }}</td>
            <td>{{ behandlungen['diagnose'] }}</td>
            <td>{{ behandlungen['laborwerte1'] }}</td>
            <td>{{ behandlungen['laborwerte2'] }}</td>
            <td>{{ behandlungen['arzneien'] }}</td>
            <td>{{ behandlungen['arzneimittel'] }}</td>
            <td>{{ behandlungen['impfungen_extern'] }}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
