
{% extends 'base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
    <h2>Karteikarte</h2>
    <div class="twocols">
        <div class="twocols">
            <div>Anrede</div>
            <input disabled size="5" name="anredeartcode" id="anredeartcode" value="{{ karteikarte['anredeartcode'] }}">

            <div>Titel</div>
            <input disabled size="5" name="titel" id="titel" value="{{ karteikarte['titel'] }}">

            <div>Familienname</div>
            <input disabled size="20" name="familienname" id="familienname" value="{{ karteikarte['familienname'] }}">

            <div>Vorname</div>
            <input disabled size="20" name="vorname" id="vorname" value="{{ karteikarte['vorname'] }}">

            <div>Notiz</div>
            <input disabled size="20" name="notiz" id="notiz" value="{{ karteikarte['notiz'] }}">

            <div>Kunde</div>
            <input disabled size="5" name="kunde" id="kunde" value="{{ karteikarte['kunde'] }}">

            <div>Straße</div>
            <input disabled size="20" name="strasse" id="strasse" value="{{ karteikarte['strasse'] }}">

            <div>Postleitzahl</div>
            <input disabled size="5" name="postleitzahl" id="postleitzahl" value="{{ karteikarte['postleitzahl'] }}">

            <div>Ort</div>
            <input disabled size="20" name="ort" id="ort" value="{{ karteikarte['ort'] }}">

            <div>Kontaktart</div>
            <input disabled size="5" name="kontaktartcode" id="kontaktartcode" value="{{ karteikarte['kontaktartcode'] }}">

            <div>Kontakt</div>
            <input disabled size="20" name="kontakt" id="kontakt" value="{{ karteikarte['kontakt'] }}">
        </div>
        <div class="twocols">
            <div>Tiername</div>
            <input disabled size="20" name="tiername" id="tiername" value="{{ karteikarte['tiername'] }}">

            <div>Tierart</div>
            <input disabled size="20" name="tierart" id="tierart" value="{{ karteikarte['tierart'] }}">

            <div>Rasse</div>
            <input disabled size="20" name="rasse" id="rasse" value="{{ karteikarte['rasse'] }}">

            <div>Farbe</div>
            <input disabled size="20" name="farbe" id="farbe" value="{{ karteikarte['farbe'] }}">

            <div>Geburtsdatum</div>
            <input disabled size="5" name="geburtsdatum" id="geburtsdatum" value="{{ karteikarte['geburtsdatum'] }}">

            <div>Geschlecht</div>
            <input disabled size="5" name="geschlechtsartcode" id="geschlechtsartcode" value="{{ karteikarte['geschlechtsartcode'] }}">

            <div>Chipnr.</div>
            <input disabled size="20" name="chip_nummer" id="chip_nummer" value="{{ karteikarte['chip_nummer'] }}">

            <div>EU-Passnr.</div>
            <input disabled size="20" name="eu_passnummer" id="eu_passnummer" value="{{ karteikarte['eu_passnummer'] }}">

            <div>Patient</div>
            <input disabled size="5" name="patient" id="patient" value="{{ karteikarte['patient'] }}">

            <div>Viren</div>
            <input disabled size="20" name="viren" id="viren" value="{{ karteikarte['viren'] }}">

            <div>Merkmal</div>
            <input disabled size="20" name="merkmal" id="merkmal" value="{{ karteikarte['merkmal'] }}">
        </div>
    </div>

    <div class="huge-gap"></div>

    <table class="liste">
        <tr>
            <th>Datum</th>
            <th>Gewicht</th>
            <th>Diagnose</th>
            <th>Laborwerte1</th>
            <th>Laborwerte2</th>
            <th>Arzneien</th>
            <th>Arzneimittel</th>
            <th>Impfungen</th>
        </tr>
        <tr>
            <td style="width: 5%">
                <form method="post" action="{{ url_for('ordi.newbehandlung', tierhaltung_id=karteikarte['id']) }}">
                <input size="5" name="behandlungsdatum" id="behandlungsdatum" value="{{ request.form['behandlungsdatum'] }}">
            </td>
            <td style="width: 5%"><input size="5" name="gewicht_Kg" id="gewicht_Kg" value="{{ request.form['gewicht_Kg'] }}"></td>
            <td style="width: 30%"><input size="5" name="diagnose" id="diagnose" value="{{ request.form['diagnose'] }}"></td>
            <td style="width: 15%"><input size="5" name="laborwerte1" id="laborwerte1" value="{{ request.form['laborwerte1'] }}"></td>
            <td style="width: 15%"><input size="5" name="laborwerte2" id="laborwerte2" value="{{ request.form['laborwerte2'] }}"></td>
            <td style="width: 10%"><input size="5" name="arzneien" id="arzneien" value="{{ request.form['arzneien'] }}"></td>
            <td style="width: 10%"><input size="5" name="arzneimittel" id="arzneimittel" value="{{ request.form['arzneimittel'] }}"></td>
            <td style="width: 10%">
                <input size="5" name="impfungen_extern" id="impfungen_extern" value="{{ request.form['impfungen_extern'] }}">
                <div><input type="submit" value="Save">
                </form>
            </td>
        </tr>
      {% for behandlung in behandlungen %}
        <tr>
            <td>{{ behandlung['behandlungsdatum'] }}</td>
            <td>{{ behandlung['gewicht_Kg'] }}</td>
            <td>{{ behandlung['diagnose'] }}</td>
            <td>{{ behandlung['laborwerte1'] }}</td>
            <td>{{ behandlung['laborwerte2'] }}</td>
            <td>{{ behandlung['arzneien'] }}</td>
            <td>{{ behandlung['arzneimittel'] }}</td>
            <td>{{ behandlung['impfungen_extern'] }}</td>
        </tr>
      {% endfor %}
    </table>

    <script>
        $(document).ready(function(){
            $( "input" ).prop( "disabled", true );
            /* $( "input" ).prop( "disabled", false ); */
        });
    </script>
{% endblock %}
