
{% extends 'base.html' %}


{% block title %}
  Rechnung
{% endblock %}


{% block content %}
  <div>
    <div class="row-grid" style="grid-template-columns: auto auto;">
      {% if rechnung and rechnung.id %}
        {% with person=rechnung.person %}
          {% include 'ordi/_person.html' %}
        {% endwith %}

        {% with tier=rechnung.tier %}
          {% include 'ordi/_tier.html' %}
        {% endwith %}
      {% else %}
          {% include 'ordi/_person.html' %}
          {% include 'ordi/_tier.html' %}
      {% endif %}      
    </div>
  </div>

    <div class="gap"></div>

  {% if rechnung and rechnung.id %}
    <form method="post" action="{{ url_for('ordi.edit_rechnung', rechnung_id=rechnung.id) }}">
  {% else %}
    <form method="post" action="{{ url_for('ordi.create_rechnung', id=id) }}">
  {% endif %}
        <input type="hidden" name="rechnung_id" value="{{- '' or rechnung.id -}}">
      <div>
        <div class="row-grid" style="grid-template-columns: auto auto auto auto;">
            <label for="rechnungsjahr">Rechnungsjahr</label>
            <input type="text" size=3 name="rechnungsjahr" id="rechnungsjahr" value="{{- request.form['rechnungsjahr'] or rechnung.rechnungsjahr | sn -}}" required>
            
            <label for="rechnungslfnr">Rechnungslfnr</label>
            <input type="text" size=3 name="rechnungslfnr" id="rechnungslfnr" value="{{- request.form['rechnungslfnr'] or rechnung.rechnungslfnr | sn -}}" required>
            
            <label for="ausstellungsdatum">Ausstellungsdatum</label>
            <input type="text" size=8 name="ausstellungsdatum" id="ausstellungsdatum" class="date" value="{{- request.form['ausstellungsdatum'] or datum or rechnung.ausstellungsdatum | sn -}}" required>
            
            <label for="ausstellungsort">Ausstellungsort</label>
            <input type="text" size=10 name="ausstellungsort" id="ausstellungsort" value="{{- request.form['ausstellungsort'] or ort or rechnung.ausstellungsort -}}" required>
        </div>
      </div>
      <div>
        <div class="row-grid" style="grid-template-columns: auto auto;">
            <label for="diagnose">Diagnose</label>
            <textarea style="width: 480px; height: 42px" name="diagnose" id="diagnose">{{- request.form['diagnose'] or rechnung.diagnose -}}</textarea>
            
            <label for="bezahlung">Bezahlung</label>
            <input type="text" size=30 name="bezahlung" id="bezahlung" value="{{- request.form['bezahlung'] or rechnung.bezahlung -}}">
        </div>
      <div>

      <div class="gap"></div>

      <table class="liste">
        <thead>
            <tr>
                <th style="width: 10%">Datum</th>
                <th style="width: 19.8%">Artikelart</th>
                <th style="width: 53.6">Detail</th>
                <th style="width: 9.6%">Betrag</th>
                <th style="width: 7%">&nbsp;</th>
            </tr>
        </thead>
      </table>

      <div id="scroller" style="max-height: 25vh; overflow-y: scroll; overflow-x: hidden;">
        <table class="liste">
            <tbody>
            {% if rechnung %}
              {% for rechnungszeile in rechnungszeilen %}
                <tr>
                  <td style="width: 10%">
                    <input type="hidden" name="rechnungszeile_id[]" value="{{- rechnungszeile[''] or rechnungszeile.id -}}">
                    <input type="text" style="width: 100%" name="datum[]" class="date" value="{{- rechnungszeile['datum'] or rechnungszeile.datum | sn -}}">
                  </td>
                  {% set artikelcode = rechnungszeile.artikelcode %}
                  <td style="width: 20%">{% include 'ordi/_select_for_artikel.html' %}</td>
                  <td style="width: 54%"><textarea style="width: 100%; height: 42px;" name="artikel[]">{{- rechnungszeile['artikel'] or rechnungszeile.artikel -}}</textarea></td>
                  <td style="width: 10%"><textarea style="width: 100%; height: 42px;" name="betrag[]">{{- rechnungszeile['betrag'] or rechnungszeile.betrag | sn -}}</textarea></td>
                  <td style="width: 6%">
                    <a class="zeile_loeschen" rechnungszeile_id="{{- rechnungszeile['rechnungszeile_id'] or rechnungszeile.id -}}" href="#">Zeile löschen</a>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
                <tr id="neue_zeile">
                  <td style="width: 10%">
                      <input type="hidden" name="rechnungszeile_id[]" value="">
                      <input type="text" style="width: 100%" name="datum[]" class="date" value="{{- datum -}}">
                  </td>
                  {% set artikelcode = 0 %}
                  <td style="width: 20%">{% include 'ordi/_select_for_artikel.html' %}</td>
                  <td style="width: 54%"><textarea style="width: 100%; height: 42px;" name="artikel[]"></textarea></td>
                  <td style="width: 10%"><textarea style="width: 100%; height: 42px;" name="betrag[]"></textarea></td>
                  <td style="width: 6%"><a href="#" onclick="newrow($(this));">neue Zeile</a></td>
                </tr>
            </tbody>
        </table>
      </div>

      <div class="small-gap"></div>

      <div class="flex-container">
      {% if rechnung and rechnung.id %}
        <p><span class="btn" style="color: Gray">Rechnung speichern</span></p>
        <p><input type="submit" value="Rechnung speichern und drucken"></p>
      {% else %}
        <p><input type="submit" value="Rechnung speichern"></p>
        <p><span class="btn" style="color: Gray">Rechnung speichern und drucken</span></p>
      {% endif %}
      </div>
    </form>

    <script>
        function newrow($obj) {
            $obj.text("Zeile löschen");
            $obj.attr("onclick", "delete_newrow($(this));");
            $obj.closest("tr").removeAttr("id");

            var date = new Date();
            var year = String(date.getFullYear());
            var month = String(date.getMonth() + 1);
            if(month.length == 1){
                month = "0" + month;
            }
            var day = String(date.getDate());
                        if(day.length == 1){
                day = "0" + day;
            }
            $obj.closest("tbody").append(
              '<tr id="neue_zeile">' +
                '<input type="hidden" name="rechnungszeile_id[]" value="">' +
                '<td style="width: 10%">' + 
                    '<input type="text" style="width: 100%" name="datum[]" class="date" value="' + year + "-" + month + "-" + day + '">' + 
                '</td>' + 
                '<td style="width: 20%">' + 
                    '<select name="artikelcode[]">' +
                        '<option value="0" selected>&nbsp;</option>' +
                        '<option value="1">Visite</option>' +
                        '<option value="2">Labor</option>' +
                        '<option value="3">Injektion</option>' +
                        '<option value="4">Röntgen</option>' +
                        '<option value="5">Ultraschall</option>' +
                        '<option value="6">Medikamente</option>' +
                        '<option value="7">Futter und Medikamente</option>' +
                        '<option value="8">Artikel mit 20%</option>' +
                        '<option value="9">Artikel mit 13%</option>' +
                        '<option value="10">Artikel mit 10%</option>' +
                    '</select>' +
                '</td>' +
                '<td style="width: 54%">' + 
                    '<textarea style="width: 100%; height: 42px;" name="artikel[]"></textarea>' + 
                '</td>' + 
                '<td style="width: 10%">' +
                    '<textarea style="width: 100%; height: 42px;" name="betrag[]"></textarea>' + 
                '</td>' + 
                '<td style="width: 6%">' + 
                    '<a href="#" onclick="newrow($(this));">neue Zeile</a>' + 
                '</td>' +
              '</tr>'
            );
        }

        function delete_newrow($obj) {
            $obj.closest("tr").remove();
        };
        
        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true 
            });
            
            $("#new-artikelcode").focus();

            var element = document.getElementById("scroller");
            element.scrollTop = element.scrollHeight;

            $('.zeile_loeschen').click(function(){ 
                var rechnungszeile_id = $(this).attr("rechnungszeile_id");
                if(rechnungszeile_id != null){
                    if(confirm("Soll der Datensatz gelöscht werden?")){
                        window.location = "/" + rechnungszeile_id.toString() + "/delete_rechnungszeile";
                        return true;
                    }
                    else{
                        return false;
                    }
                }
                return false; 
            });

         });
    </script>
{% endblock %}
