
{% extends 'base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
    <div class="row-grid" style="grid-template-columns: auto auto;">
      <p><a href="{{ url_for('ordi.edit_person', id=tierhaltung.id, person_id=tierhaltung.person_id) }}">Person ändern</a></p>

      <p><a href="{{ url_for('ordi.edit_tier', id=tierhaltung.id, tier_id=tierhaltung.tier_id) }}">Tier ändern</a></p>

      {% with person=tierhaltung.person %}
        {% include 'ordi/_person.html' %}
      {% endwith %}

      {% with tier=tierhaltung.tier %}
        {% include 'ordi/_tier.html' %}
      {% endwith %}
    </div>

    <div class="gap"></div>

    <div class="flex-container ">
      {% if termin %}
        <p>Nächster Termin: &nbsp; 
          <a href="{{ url_for('kalender.edit', id=termin.id, th='th') }}">
            {{- termin.thema -}} &nbsp; 
            {{- termin.beginn.strftime('%Y-%m-%d %H:%M') -}} &nbsp; - &nbsp; 
            {{- termin.ende.strftime('%Y-%m-%d %H:%M') -}}  &nbsp; 
            {{- termin.autor -}}
          </a>
        </p>
      {% else %}
        <p>Kein Termin geplant.</p>        
        <p><a class="btn" href="{{ url_for('kalender.create', th='th', tierhaltung_id=tierhaltung.id) }}">neuer Termin</a>
      {% endif %}
    </div>
    
    <div class="gap"></div>

    <table class="liste">
        <thead>
            <tr>
                <th style="width: 8%">Datum</th>
                <th style="width: 29.6%">Diagnose</th>
                <th style="width: 10.9">Laborwerte</th>
                <th style="width: 10.9%">Laborwerte*</th>
                <th style="width: 13.8%">Arzneien</th>
                <th style="width: 6.9%">AM</th>
                <th style="width: 8.9%">Impfungen</th>
                <th style="width: 3.9%">Kg</th>
                <th style="width: 7.1%">&nbsp;</th>
            </tr>
        </thead>
    </table>

    <form method="post" action="{{ url_for('ordi.save_behandlungen', id=tierhaltung.id) }}">
      <div id="scroller" style="max-height: 40vh; overflow-y: scroll; overflow-x: hidden;">
        <table class="liste">
          <tbody>
          {% for behandlung in behandlungen %}
            <tr>
                <td style="width: 8%">
                    <input type="hidden" name="behandlung_id[]" value="{{- behandlung['behandlung_id'] or behandlung.id -}}" disabled>
                    <input type="text" name="behandlungsdatum[]" class="date" value="{{- behandlung['behandlungsdatum'] or behandlung.behandlungsdatum -}}" disabled>
                </td>
                <td style="width: 30%"><textarea name="diagnose[]" disabled>{{- behandlung['diagnose'] or behandlung.diagnose -}}</textarea></td>
                <td style="width: 11%"><textarea name="laborwerte1[]" class="labor" disabled>{{- behandlung['laborwerte1'] or behandlung.laborwerte1 -}}</textarea></td>
                <td style="width: 11%"><textarea name="laborwerte2[]" class="labor" disabled>{{- behandlung['laborwerte2'] or behandlung.laborwerte2 -}}</textarea></td>
                <td style="width: 14%"><textarea name="arzneien[]" disabled>{{- behandlung['arzneien'] or behandlung.arzneien -}}</textarea></td>
                <td style="width: 7%"><textarea name="arzneimittel[]" disabled>{{- behandlung['arzneimittel'] or behandlung.arzneimittel -}}</textarea></td>
                <td style="width: 9%"><textarea name="impfungen_extern[]" class="impfungen" readonly disabled>
                        {%- set vars = {'selected': False} -%}
                        {%- for impfungswert in impfungswerte -%}
                            {%- for impfung in (behandlung['impfungen'] or behandlung.impfungen) -%}
                                {%- if impfung.impfungscode|string == impfungswert[1]|string -%}
                                    {%- if vars.selected -%}, {%- endif -%}
                                    {{- impfungswert[0] -}}
                                    {%- if vars.update({'selected': True}) -%} {%- endif -%}
                                {%- endif -%}
                            {%- endfor -%}
                        {%- endfor -%}
                    </textarea>
                </td>
                <td style="width: 4%"><textarea name="gewicht[]" disabled>{{- behandlung['gewicht'] or behandlung.gewicht | sn -}}</textarea></td>
                <td style="width: 6%"><a href="#" onclick="enablerow($(this));">bearb.</a></td>
            </tr>
          {% endfor %}
            <tr class="edit-focus">
              <td style="width: 8%">
                  <input type="hidden" name="behandlung_id[]" value="">
                  <input type="text" name="behandlungsdatum[]" class="date" value="{{- datum.strftime('%Y-%m-%d') -}}">
              </td>
              <td style="width: 30%"><textarea name="diagnose[]" id="diagnose"></textarea></td>
              <td style="width: 11%"><textarea name="laborwerte1[]" class="labor"></textarea></td>
              <td style="width: 11%"><textarea name="laborwerte2[]" class="labor"></textarea></td>
              <td style="width: 14%"><textarea name="arzneien[]"></textarea></td>
              <td style="width: 7%"><textarea name="arzneimittel[]"></textarea></td>
              <td style="width: 9%"><textarea name="impfungen_extern[]" class="impfungen" readonly></textarea></td>
              <td style="width: 4%"><textarea name="gewicht[]"></textarea></td>
              <td style="width: 6%">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="small-gap"></div>

      <div><input class="btn" type="submit" value="Speichern"></div>
    </form>

    <p style="display: none">
        <select id="laborreferenzen" style="height: 240px" multiple>
        {%- for referenz in laborreferenzen -%}
            <option value="{{- loop.index -}}">{{- referenz -}}</option>
        {%- endfor -%}
        </select>
    </p>

    <p style="display: none">
        <select id="impfungswerte" style="height: 240px" multiple>
        {%- for impfungswert in impfungswerte -%}
            <option value="{{- impfungswert[1] -}}">{{- impfungswert[0] -}}</option>
        {%- endfor -%}
        </select>
    </p>

    <script>
         function get_laborreferenzen_text(){
            var buf = "";
            $( '#dialog-laborreferenzen option:selected').each(function () {
                buf += $(this).text() + "\n ";
            });
            return buf;
        }

        function get_impfungswerte_text(){
            var buf = "";
            $( '#dialog-impfungswerte option:selected').each(function () {
                if(buf.length > 0){
                    buf += ","
                }
                buf += $(this).text();
            });
            return buf;
        }

        function enablerow($obj) {
            $obj.closest("tr").find("textarea").removeAttr("disabled");
            $obj.closest("tr").find("input").removeAttr("disabled");
        }

        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true 
            });

            $("#diagnose").focus();

            var element = document.getElementById("scroller");
            element.scrollTop = element.scrollHeight;
            
            $('.zeile_loeschen').click(function(){ 
                var tierhaltung_id = $(this).attr("tierhaltung_id");
                var behandlung_id = $(this).attr("behandlung_id");
                if(tierhaltung_id != null && behandlung_id != null){
                    if(confirm("Soll der Datensatz gelöscht werden?")){
                        window.location = "/" + tierhaltung_id.toString() + "/" + behandlung_id.toString() + "/delete_behandlung";
                        return true;
                    }
                    else{
                        return false;
                    }
                }
                return false; 
            });
            
            var $dialog_labor = $('<div></div>');
                $dialog_labor.dialog({
                    autoOpen: false,
                    title: 'Laborwerte',
                    modal: true,
                    buttons: [{ text: "OK", click: function(){
                                    labor_text_feld.value = labor_text_feld.value + get_laborreferenzen_text() + '**';
                                    labor_text_feld.focus(); 
                                    $(this).dialog("close");} 
                              },
                              {text: "Abbruch", click: function(){
                                    labor_text_feld.focus();
                                    $(this).dialog("close");} 
                              }] 
                });

            $('.labor').click(  function() {
                labor_text_feld = this;
                var body = "<select id='dialog-laborreferenzen' style='height: 240px' multiple>"
                $('#laborreferenzen option').each(function( index ) {
                    body += "<option value='" + $( this ).text() + "'>" +  $( this ).text() + "</option>";
                });
                body += "</select>";
                $dialog_labor.html(body);
                $dialog_labor.dialog('open');
                // prevent the default action, e.g., following a link
                return false;
            });

            var $dialog_impfungen = $('<div></div>');
            $dialog_impfungen.dialog({
                autoOpen: false,
                title: 'Impfungen',
                modal: true,
                buttons: [{text: "OK", click: function(){
                           impfungen_text_feld.value = get_impfungswerte_text();
                           impfungen_text_feld.focus(); 
                           $(this).dialog("close");} 
                          },
                          {text: "Abbruch", click: function(){
                           impfungen_text_feld.focus();
                           $(this).dialog("close");} 
                           }] 
            });

            $('.impfungen').click(  function() {
                console.log("impfungen: " + $(this).val());
                impfungen_text_feld = this;
                var impfungen = $(this).val().split(",");
                var body = "<select id='dialog-impfungswerte' style='height: 240px' multiple>"
                $('#impfungswerte option').each(function( index ) {
                      var impfungswert = $( this ).text();
                      var isequal = false;
                      $.each(impfungen, function(index, value){
                            if(value == impfungswert){
                                  isequal = true;
                            }
                      });
                      if(isequal){
                            body += "<option value='" + $( this ).text() + "' selected>" +  $( this ).text() + "</option>";
                      }
                      else{
                            body += "<option value='" + $( this ).text() + "'>" +  $( this ).text() + "</option>";
                      }
                });
                body += "</select>";

                $dialog_impfungen.html( body ); 
                $dialog_impfungen.dialog('open');
                // prevent the default action, e.g., following a link
                return false;
            });
        });
    </script>
{% endblock %}
