
{% extends 'base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
    <div>
        <div class="twocols">
            <p><a href="{{ url_for('ordi.edit_person', id=tierhaltung['id'], person_id=tierhaltung['person_id']) }}">Person ändern</a></p>

            <p><a href="{{ url_for('ordi.edit_tier', id=tierhaltung['id'], tier_id=tierhaltung['tier_id']) }}">Tier ändern</a></p>

            {% include 'ordi/_person.html' %}
        
            {% include 'ordi/_tier.html' %}
        </div>
    </div>
 
    <div class="gap"></div>

    <table class="liste">
        <thead>
            <tr>
                <th style="width: 8%">Datum</th>
                <th style="width: 29.6%">Diagnose</th>
                <th style="width: 10.9">Laborwerte</th>
                <th style="width: 10.9%">Laborwerte*</th>
                <th style="width: 13.8%">Arzneien</th>
                <th style="width: 6.9%">AM</th>
                <th style="width: 9.8%">Impfungen</th>
                <th style="width: 3.9%">Kg</th>
                <th style="width: 6.2%">&nbsp;</th>
            </tr>
        </thead>
    </table>

  <div id="scroller" style="max-height: 40vh; overflow-y: scroll; overflow-x: hidden;">
    <table class="liste">
      <tbody>
      <form method="post" action="{{ url_for('ordi.save_behandlungen', id=tierhaltung['id']) }}">
      {% for behandlung in behandlungen %}
        <tr>
            <td style="width: 8%"><input type="text" style="width: 100%" name="behandlungsdatum[]" class="date" value="{{ behandlung['behandlungsdatum'] }}"></td>
            <td style="width: 30%"><textarea style="width: 100%" name="diagnose[]">{{ behandlung['diagnose'] }}</textarea></td>
            <td style="width: 11%"><textarea style="width: 100%" name="laborwerte1[]" class="labor">{{ behandlung['laborwerte1'] }}</textarea></td>
            <td style="width: 11%"><textarea style="width: 100%" name="laborwerte2[]" class="labor">{{ behandlung['laborwerte2'] }}</textarea></td>
            <td style="width: 14%"><textarea style="width: 100%" name="arzneien[]">{{ behandlung['arzneien'] }}</textarea></td>
            <td style="width: 7%"><textarea style="width: 100%" name="arzneimittel[]">{{ behandlung['arzneimittel'] }}</textarea></td>
            <td style="width: 10%"><textarea style="width: 100%" name="impfungen_extern[]">{{ behandlung['impfungen_extern'] }}</textarea></td>
            <td style="width: 4%"><textarea style="width: 100%" name="gewicht[]">{{ behandlung['gewicht'] }}</textarea></td>
            <td style="width: 5%">
                <a class="zeile_loeschen" tierhaltung_id="{{ tierhaltung['id'] }}" behandlung_id="{{ behandlung['id'] }}" href="#">Zeile löschen</a>
                <input type="hidden" name="behandlung_id[]" value="{{ behandlung['id'] }}">
            </td>
        </tr>
        <tr>
            <td colspan=9>
        <select id="impf" style="height: 40px" multiple>
        {% for impfung in impfungen %}
            {% for impfungext in behandlung['impfungen_extern'] %}
                {% if impfung == impfungext %}
                    <option value="{{ impfung }}" selected>{{ impfung }}</option>
                {% else %}
                    <option value="{{ impfung }}">{{ impfung }}</option>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </select>
        </td>
        </tr>
      {% endfor %}
        <tr class="edit-focus">
            <td style="width: 8%"><input type="text" style="width: 100%" name="behandlungsdatum[]" class="date" value="{{ request.form['behandlungsdatum'] or behandlungsdatum }}"></td>
            <td style="width: 30%"><textarea style="width: 100%" name="diagnose[]" id="new-diagnose">{{ request.form['diagnose'] }}</textarea></td>
            <td style="width: 11%"><textarea style="width: 100%" name="laborwerte1[]" class="labor">{{ request.form['laborwerte1'] }}</textarea></td>
            <td style="width: 11%"><textarea style="width: 100%" name="laborwerte2[]" class="labor">{{ request.form['laborwerte2'] }}</textarea></td>
            <td style="width: 14%"><textarea style="width: 100%" name="arzneien[]">{{ request.form['arzneien'] }}</textarea></td>
            <td style="width: 7%"><textarea style="width: 100%" name="arzneimittel[]">{{ request.form['arzneimittel'] }}</textarea></td>
            <td style="width: 10%"><textarea style="width: 100%" name="impfungen_extern[]">{{ request.form['impfungen_extern'] }}</textarea></td>
            <td style="width: 4%"><textarea style="width: 100%" name="gewicht[]">{{ request.form['gewicht'] }}</textarea></td>
            <td style="width: 5%"><input type="hidden" name="behandlung_id[]" value=""></td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="small-gap"></div>

    <div><input type="submit" value="Speichern"></div>

    <p style="display: none">
        <select id="lab" style="height: 240px" multiple>
        {% for referenz in laboreferenzen %}
            <option value="{{ loop.index }}">{{ referenz }}</option>
        {% endfor %}
        </select>
    </p>

    <script>
        function get_lab_list_text(){
            var buf = "";
 	    $( '#lab option:selected').each(function () {
                buf += $(this).text() + "\n ";
            });
            return buf;
        }

        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true 
            });

            $("#new-diagnose").focus();

            var element = document.getElementById("scroller");
            element.scrollTop = element.scrollHeight;
            
            $('.zeile_loeschen').click(function(){ 
                var tierhaltung_id = $(this).attr("tierhaltung_id");
                var behandlung_id = $(this).attr("behandlung_id");
                if(tierhaltung_id != null && behandlung_id != null){
                    if(confirm("Soll der Datensatz gelöscht werden?")){
                        window.location = "/" + tierhaltung_id.toString() + "/" + behandlung_id.toString() + "/delete_behandlung";
                        return true;
                    }
                    else{
                        return false;
                    }
                }
                return false; 
            });
            
            var $dialog_labor = $('<div></div>');
                $dialog_labor.html( $("#lab") );
                $dialog_labor.dialog({
                    autoOpen: false,
                    title: 'Laborwerte',
                    modal: true,
                    buttons: [{ text: "OK", click: function(){
                                    labor_text_feld.value = labor_text_feld.value + get_lab_list_text() + '**';
                                    $('#lab option').attr('selected', false );
                                    labor_text_feld.focus(); 
                                    $(this).dialog("close");} 
                              },
                              {text: "Abbruch", click: function(){
                                    labor_text_feld.focus();
                                    $(this).dialog("close");} 
                              }] 
            });

            $('.labor').click(  function() {
                labor_text_feld = this;
                $dialog_labor.dialog('open');
                // prevent the default action, e.g., following a link
                return false;
            });
        });
    </script>
{% endblock %}
