
{% extends 'base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
    <div>
        <div class="twocols">
            <p><a href="{{ url_for('ordi.edit_person', id=tierhaltung['id'], person_id=tierhaltung['person_id']) }}">Person ändern</a></p>

            <p><a href="{{ url_for('ordi.edit_tier', id=tierhaltung['id'], tier_id=tierhaltung['tier_id']) }}">Tier ändern</a></p>

            {% include 'ordi/_person.html' %}
        
            {% include 'ordi/_tier.html' %}
        </div>
    </div>
 
    <div class="gap"></div>

    <table class="liste">
        <thead>
            <tr>
                <th style="width: 10%">Datum</th>
                <th style="width: 23.8%">Diagnose</th>
                <th style="width: 11.9">Laborwerte</th>
                <th style="width: 11.9%">Laborwerte*</th>
                <th style="width: 9.8%">Arzneien</th>
                <th style="width: 9.9%">Arzneim.</th>
                <th style="width: 9.8%">Impfungen</th>
                <th style="width: 5.9%">Gewicht</th>
                <th style="width: 6.9%">&nbsp;</th>
            </tr>
        </thead>
    </table>
  <div id="scroller" style="height: 240px; overflow-y: scroll; overflow-x: hidden;">
    <table class="liste">
      <tbody>
      <form method="post" action="{{ url_for('ordi.save_behandlungen', id=tierhaltung['id']) }}">
      {% for behandlung in behandlungen %}
        <tr>
            <td style="width: 10%"><input type="text" style="width: 100%" name="behandlungsdatum[]" class="date" value="{{ behandlung['behandlungsdatum'] }}"></td>
            <td style="width: 24%"><textarea style="width: 100%" name="diagnose[]">{{ behandlung['diagnose'] }}</textarea></td>
            <td style="width: 12%"><textarea style="width: 100%" name="laborwerte1[]">{{ behandlung['laborwerte1'] }}</textarea></td>
            <td style="width: 12%"><textarea style="width: 100%" name="laborwerte2[]">{{ behandlung['laborwerte2'] }}</textarea></td>
            <td style="width: 10%"><textarea style="width: 100%" name="arzneien[]">{{ behandlung['arzneien'] }}</textarea></td>
            <td style="width: 10%"><textarea style="width: 100%" name="arzneimittel[]">{{ behandlung['arzneimittel'] }}</textarea></td>
            <td style="width: 10%"><textarea style="width: 100%" name="impfungen_extern[]">{{ behandlung['impfungen_extern'] }}</textarea></td>
            <td style="width: 6%"><textarea style="width: 100%" name="gewicht[]">{{ behandlung['gewicht'] }}</textarea></td>
            <td style="width: 6%">
                <a class="zeile_loeschen" tierhaltung_id="{{ tierhaltung['id'] }}" behandlung_id="{{ behandlung['id'] }}" href="#">Zeile löschen</a>
                <input type="hidden" name="behandlung_id[]" value="{{ behandlung['id'] }}">
            </td>
        </tr>
      {% endfor %}
        <tr class="edit-focus">
            <td style="width: 10%"><input type="text" style="width: 100%" name="behandlungsdatum[]" class="date" value="{{ request.form['behandlungsdatum'] or behandlungsdatum }}"></td>
            <td style="width: 24%"><textarea style="width: 100%" name="diagnose[]" id="new-diagnose">{{ request.form['diagnose'] }}</textarea></td>
            <td style="width: 12%"><textarea style="width: 100%" name="laborwerte1[]">{{ request.form['laborwerte1'] }}</textarea></td>
            <td style="width: 12%"><textarea style="width: 100%" name="laborwerte2[]">{{ request.form['laborwerte2'] }}</textarea></td>
            <td style="width: 10%"><textarea style="width: 100%" name="arzneien[]">{{ request.form['arzneien'] }}</textarea></td>
            <td style="width: 10%"><textarea style="width: 100%" name="arzneimittel[]">{{ request.form['arzneimittel'] }}</textarea></td>
            <td style="width: 10%"><textarea style="width: 100%" name="impfungen_extern[]">{{ request.form['impfungen_extern'] }}</textarea></td>
            <td style="width: 6%"><textarea style="width: 100%" name="gewicht[]">{{ request.form['gewicht'] }}</textarea></td>
            <td style="width: 6%"><input type="hidden" name="behandlung_id[]" value=""></td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="small-gap"></div>

    <div><input type="submit" value="Speichern"></div>


   <div><a id="kontaktliste" liste="{{ kontaktliste }}" href="">kontaktliste</a></div>
    <script>
        $(document).ready(function(){
            $.datepicker.setDefaults($.datepicker.regional["de"]);
            $(".date").datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true 
            });

            $("#new-diagnose").focus();

            var element = document.getElementById("scroller");
            element.scrollTop = element.scrollHeight;
            
            $('.zeile_loeschen').click(function(){ 
                var tierhaltung_id = $(this).attr("tierhaltung_id");
                var behandlung_id = $(this).attr("behandlung_id");
                if(tierhaltung_id != null && behandlung_id != null){
                    if(confirm("Soll der Datensatz gelöscht werden?")){
                        window.location = "/" + tierhaltung_id.toString() + "/" + behandlung_id.toString() + "/delete_behandlung";
                        return true;
                    }
                    else{
                        return false;
                    }
                }
                return false; 
            });
            
            $('#kontaktliste').click(function(){ 
                var liste = $(this).attr("liste");
                alert(liste);
            });
        });
    </script>
{% endblock %}
