
{% extends 'base.html' %}


{% block title %}
  Karteikarten
{% endblock %}


{% block content %}
    <div class="gap"></div>

    <form method="post" action="{{ url_for('ordi.index') }}">
        <div class="flex-container">
          <div>
            <label for="familienname">Familienname</label>
            <input type="text" size="10" name="familienname" value="{{ familienname }}">
          </div>

          <div>
            <label for="tiername">Tiername</label>
            <input type="text" size="10" name="tiername" value="{{ tiername }}">
          </div>

          <div>
            <label for="kunde">Kunde</label>
          {% if kunde == 0 %}
            <input type="checkbox" name="kunde" value="0">
          {% else %}
            <input type="checkbox" name="kunde" value="1" checked>
          {% endif %}
          </div>

          <div>
            <label for="patient">Patient</label>
          {% if patient == 0 %}
            <input type="checkbox" name="patient" value="0">
          {% else %}
            <input type="checkbox" name="patient" value="1" checked>
          {% endif %}
          </div>

          <div>
            <input type="submit" value="suchen">
          </div>
        </div>
    </form>

    <div class="gap"></div>

  <div class="liste-wrapper">
    <table class="liste">
        <tr>
            <th width="2%">&nbsp;</th>
            <th width="6%">Anrede</th>
            <th width="6%">Titel</th>
            <th width="18%">Familienname</th>
            <th width="12%">Vorname</th>
            <th width="18%">Tiername</th>
            <th width="12%">Tierart</th>
            <th width="12%">Rasse</th>
            <th width="6%">Geschl.</th>
            <th width="8%">Geb.Datum</th>
        </tr>
      {% for th in tierhaltungen %}
        <tr>
            <td style="width: 2%; text-align: center"><input type="radio" name="option" value="{{ th.Tierhaltung.id }}"></td>
            <td style="width: 6%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Person.anredecode|mapanrede }}</a></td>
            <td style="width: 6%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Person.titel }}</a></td>
            <td style="width: 18%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Person.familienname }}</a></td>
            <td style="width: 12%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Person.vorname }}</a></td>
            <td style="width: 18%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Tier.tiername }}</a></td>
            <td style="width: 14%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Tier.tierart }}</a></td>
            <td style="width: 10%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Tier.rasse }}</a></td>
            <td style="width: 6%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Tier.geschlechtscode|mapgeschlecht }}</a></td>
            <td style="width: 8%"><a href="{{ url_for('ordi.show_tierhaltung', id=th.Tierhaltung.id) }}">{{ th.Tier.geburtsdatum|sn }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>

    <div class="gap"></div>

    <div class="flex-container">
        <p><a class="btn" id="zur_karteikarte" href="#">zur Karteikarte</a></p>
        <p><a class="btn" href="{{ url_for('ordi.create_tierhaltung') }}">neue Karteikarte</a></p>
        <p><a class="btn" id="neuer_termin" href="#">neuer Termin</a></p>
        <p><a class="btn" id="neues_tier" href="#">neues Tier</a></p>
        <p><a class="btn" id="neue_rechnung" href="#">neue Rechnung</a></p>
        <p><a class="btn" id="neuer_behandlungsverlauf" href="#">neuer Behandlungsverlauf</a></p>
        <p><a class="btn" id="karteikarte_loeschen" href="#">Karteikarte löschen</a></p>
    </div>

    <script>
        $(document).ready(function() {
            $('#zur_karteikarte').click(function(){ 
                var id = $("input:radio[name=option]:checked").val(); 
                if(id == null){
                    alert("Bitte eine Karteikarte auswählen!");
                }
                else{
                    window.location = "/" + id.toString() + "/show_tierhaltung";
                }
                return false; 
            });
            $('#neuer_termin').click(function(){ 
                var id = $("input:radio[name=option]:checked").val(); 
                if(id == null){
                    alert("Bitte eine Karteikarte auswählen!");
                }
                else{
                    window.location = "/kalender/tierhaltung/" + id.toString() + "/create";
                }
                return false; 
            });
            $('#neues_tier').click(function(){ 
                var id = $("input:radio[name=option]:checked").val(); 
                if(id == null){
                    alert("Bitte eine Karteikarte auswählen!");
                }
                else{
                    window.location = "/" + id.toString() + "/create_tier";
                }
                return false; 
            });
            $('#karteikarte_loeschen').click(function(){ 
                var id = $("input:radio[name=option]:checked").val(); 
                if(id == null){
                    alert("Bitte eine Karteikarte auswählen!");
                }
                else{
                    if(confirm("Soll der Datensatz gelöscht werden?")){
                        window.location = "/" + id.toString() + "/delete_tierhaltung";
                        return true;
                    }
                    else{
                        return false;
                    }
                }
                return false; 
            });
            $('#neuer_behandlungsverlauf').click(function(){ 
                var id = $("input:radio[name=option]:checked").val(); 
                if(id == null){
                    alert("Bitte eine Karteikarte auswählen!");
                }
                else{
                    window.location = "/behandlungsverlauf/" + id.toString() + "/create_behandlungsverlauf";
                }
                return false; 
            });
            $('#neue_rechnung').click(function(){ 
                var id = $("input:radio[name=option]:checked").val(); 
                if(id == null){
                    alert("Bitte eine Karteikarte auswählen!");
                }
                else{
                    window.location = "/rechnung/" + id.toString() + "/create_rechnung";
                }
                return false; 
            });
        });
    </script>
{% endblock %}

