<html>
    <body>
        <div style="padding-bottom: 5mm;">
            <p style="font-size: 14;">Abfrage &nbsp; {{- abfrage -}} &nbsp; {{- kriterium1 -}} &nbsp; {{- kriterium2 -}}</p>
        </div>

         <div style="display: grid; grid-template-columns: 64mm 99mm;">
            <div>Familienname</div>
            <div>Tiername</div>
          </div>

        {% for tierhaltung in tierhaltungen %}
          <div style="display: grid; grid-template-columns: 64mm 99mm;">
            <div>
              {{- tierhaltung.Person.familienname -}}
            </div>
            <div>
              {{- tierhaltung.Tier.tiername -}}
            </div>
          </div>
        {% endfor %}
    </body>
</html>
