<html>
    <body>
      {% for person in personen %}
        {% if loop.index % 3 == 1 %}
          <div style="display: grid; grid-template-columns: 61mm 61mm 61mm; padding-bottom: 5mm;">
        {% endif %}
            <div>
              <p>
              {{- person.anredecode|mapanrede -}} &nbsp; 
              {{- person.titel -}}
              </p>
              <p>
              {{- person.familienname -}} &nbsp; 
              {{- person.vorname -}}
              </p>
              <p>
              {{- person.adr_strasse -}}
              </p>
              <p>
              {{- person.adr_plz -}} &nbsp; 
              {{- person.adr_ort -}}
              </p>
            </div>
        {% if loop.index % 3 == 0 %}
          </div>
        {% endif %}
      {% endfor %}
      {% if personen|length % 3 != 0 %}
        </div>
      {% endif %}
    </body>
</html>
