<html>
    <body>
        <div style="padding-bottom: 20mm;">
            <p>{{- behandlungsverlauf.person.anredecode | mapanrede -}}</p>

            <p>
               {{- behandlungsverlauf.person.vorname -}} &nbsp; 
               {{- behandlungsverlauf.person.familienname -}} &nbsp; 
               {{- behandlungsverlauf.person.titel -}}
            </p>

            <p>{{- behandlungsverlauf.person.adresse.strasse -}}</p>

            <p>
                {{- behandlungsverlauf.person.adresse.postleitzahl -}} &nbsp; 
                {{- behandlungsverlauf.person.adresse.ort -}}
            </p>
        </div>

        <div style="display: grid; grid-template-columns: 123mm 40mm; padding-bottom: 5mm;">
            <div>
              Patient &nbsp; 
              {{- behandlungsverlauf.tier.tiername -}} &nbsp; 
              {{- behandlungsverlauf.tier.tierart -}} &nbsp; 
              {%- if behandlungsverlauf.tier.geburtsdatum -%}
                geb. &nbsp; {{- behandlungsverlauf.tier.geburtsdatum -}}
              {%- endif -%}
            </div>
            <div style="text-align: right;">
                {{- behandlungsverlauf.datum -}}
            </div>
        </div>

        <div>
            <p>Diagnose: &nbsp; {{- behandlungsverlauf.diagnose -}}</p>
        </div>

        <div style="padding-top: 5mm;">
            <p>{{- behandlungsverlauf.behandlung -}}</p>
        </div>
    </body>
</html>
