{% extends 'base.html' %}


{% block title %}
  Termin
{% endblock %}


{% block content %}

    {% if termin and termin.id %}
      <form method="post" action="{{ url_for('kalender.edit', id=termin.id) }}">
    {% else %}
      {% if tierhaltung %}
        <form method="post" action="{{ url_for('kalender.create', tierhaltung_id=tierhaltung.id) }}">
      {% else %}
        <form method="post" action="{{ url_for('kalender.create') }}">
      {% endif %}
    {% endif %}
      <div class="div-table">

        <div class="div-row">
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
              <label for="autor">Autor: &nbsp;</label>
            </div>
          </div>
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
            {% if termin %}
              {% set autor = termin.autor %}
            {% else %}
              {% set autor = request.form['autor'] %}
            {% endif %}
            {% include 'kalender/_select_for_autoren.html' %}
            </div>
          </div>
        </div>

        <div class="div-row">
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
              <p>Patient: &nbsp;</p>
            </div>
          </div>
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
            {% if tierhaltung %}
              {% if termin and termin.id %}
                <p><a target="_blank" href="{{ url_for('ordi.show_tierhaltung', id=tierhaltung.id) }}">{{- tierhaltung.person.familienname -}} &nbsp; {{- tierhaltung.tier.tiername -}}</a></p>
              {% else %}
                <p>{{- tierhaltung.person.familienname -}} &nbsp; {{- tierhaltung.tier.tiername -}}</p>
              {% endif %}
            {% endif %}
            </div>
          </div>
        </div>

        <div class="div-row">
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
              <label for="thema">Thema: &nbsp;</label>
            </div>
          </div>
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
              <input name="thema" size="50" value="{{- request.form['thema'] or termin.thema -}}">
            </div>
          </div>
        </div>

        <div class="div-row">
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
              <label for="beginn">Beginn: &nbsp;</label>
            </div>
          </div>
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
              <input name="time_begin" size="5" id="time_begin" class="time-pick" value="{{- request.form['time_begin'] or termin.beginn.strftime('%H:%M') -}}">
              <input name="date_begin" size="10" id="date_begin" class="date-pick" value="{{- request.form['date_begin'] or termin.beginn.strftime('%Y-%m-%d') -}}">
            </div>
          </div>
        </div>

        <div class="div-row">
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
              <label for="ende">Ende: &nbsp;</label>
            </div>
          </div>
          <div class="div-cell" style="border: 1px solid #111111; border-spacing: 0px;">
            <div class="edit-termin">
              <input name="time_end" size="5" id="time_end" class="time-pick" value="{{- request.form['time_end'] or termin.ende.strftime('%H:%M') -}}">
              <input name="date_end" size="10" id="date_end" class="date-pick" value="{{- request.form['date_end'] or termin.ende.strftime('%Y-%m-%d') -}}">
            </div>
          </div>
        </div>

      </div>

      <div class="gap"></div>

    <div class="flex-container">
      <p><input type="submit" id="sichern" class="btn" style="font-size: 16px; line-height: 18px;" value="sichern" onclick="return checkdate();"></p>

      {% if termin %}
        <p><a class="btn" href="{{ url_for('kalender.index', kaldatum=termin.beginn.strftime('%Y-%m-%d %H:%M:00')) }}">abbrechen</a></p>
      {% else %}
        <p><a class="btn" href="{{ url_for('kalender.index', kaldatum=request.form['date_begin'] + ' ' + request.form['time_begin']) }}">abbrechen</a></p>
      {% endif %}

      {% if termin.id %}
        <p><a class="btn" href="{{ url_for('kalender.delete', id=termin.id) }}">löschen</a></p>
      {% endif %}
    </div>

      <script>
        var timep = new RegExp("\\b[012][0-9]:[0-5][0-9]\\b");
        var datep = new RegExp("\\b[0-9]{4}\\-[01][0-9]\\-[0123][0-9]\\b");
     
        function checkdate(){
          if(timep.test($("#time_begin").val()) && datep.test($("#date_begin").val()) &&
             timep.test($("#time_end").val()) && datep.test($("#date_end").val()) ){
            return true;
          }
          else{
            $( '#error' ).empty();
            $( '#error' ).html( "Falsches Datumsformat: erwartet <i>hh:mm</i> <br> TT:MM:JJJJ z.B. 10:35 01.09.2011" );
            return false;
          }
        };

        $(document).ready(function() {
          $('.time-pick').timepicker({
            'timeFormat': 'H:i',
            'minTime': '00:00',
            'maxTime': '23:45',
            'step': 15,
            'showDuration': false
          });

          $.datepicker.setDefaults($.datepicker.regional["de"]);
          $(".date-pick").datepicker({ 
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true 
          });
        })
      </script>
{% endblock %}

