{% extends 'base.html' %}


{% block title %}
  Termin
{% endblock %}


{% block content %}

<h1>Termin</h1>

<form method="post">
  <div class="div-table edit-termin">
    <div class="div-row">
      <div class="div-cell edit-termin">
        <label for="autor">Autor:&nbsp</label>
      </div>
      <div class="div-cell edit-termin">
        {% include 'kalender/_select_for_autoren.html' %} # Default Gerold
      </div>
    </div>
    <div class="div-row">
      <div class="div-cell edit-termin">
        <label for="thema">Thema:&nbsp</label>
      </div>
      <div class="div-cell edit-termin">
        <input name="thema" size="50" value="{{- termin.thema -}}">
      </div>
    </div>
    <div class="div-row">
      <div class="div-cell edit-termin">
        <label for="zeit">Zeit:&nbsp</label>
      </div>
      <div class="div-cell edit-termin">
        <div class="div-table">
          <div class="div-row">
            <div class="div-cell">
              <label for="beginn">Beginn&nbsp</label>
            </div>
            <div class="div-cell">
              <input name="time_begin" size="5" id="time_begin" class="time-pick" value="{{- termin.beginn.strftime("%H:%M") -}}">
              <input name="date_begin" size="10" id="date_begin" class="date-pick" value="{{- termin.beginn.strftime("%d.%m.%Y") -}}">
            </div>
          </div>
          <div class="div-row">
            <div class="div-cell">
              <label for="ende">Ende&nbsp</label>
            </div>
            <div class="div-cell">
              <input name="time_end" size="5" id="time_end" class="time-pick" value="{{- termin.ende.strftime("%H:%M") -}}">
              <input name="date_end" size="10" id="date_end" class="date-pick" value="{{- termin.ende.strftime("%d.%m.%Y") -}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>	

  <p>
    <%= submit_tag( "sichern", :id => "sichern", :onclick => 'return checkdate();', :class => 'btn' ) %>   
    <%= link_to 'abbrechen', kalender_path( :Jahr => @termin.beginn.year, :Monat => @termin.beginn.month, :Tag => @termin.beginn.day), :class => 'btn' %>
    <% unless @termin.new_record? %>
      <%= link_to 'löschen', termin_path( @termin ), :confirm => "Termin: " + @termin.thema + @termin.beginn.strftime(" %H:%M-") + @termin.ende.strftime("%H:%M ") + "löschen?", :method => 'delete', :class => 'btn' %>
    <% end %>
  </p>

  <script>
    var timep = new RegExp("\\b[012][0-9]:[0-5][0-9]\\b");
    var datep = new RegExp("\\b[0123][0-9]\\.[01][0-9]\\.[0-9]{4}\\b");
 
    function checkdate(){
      if(timep.test($("#time_begin").val()) && datep.test($("#date_begin").val()) &&
         timep.test($("#time_end").val()) && datep.test($("#date_end").val()) ){
        return true;
      }
      else{
        $( '#error' ).empty();
        $( '#error' ).html( "Falsches Datumsformat: erwartet <i>hh:mm</i> <br> TT:MM:JJJJ z.B. 10:35 01.09.2011" );
        return false;
      }
    };

    $(document).ready(function() {
      $('.time-pick').timepicker({
        'timeFormat': 'H:i',
        'minTime': '00:00',
        'maxTime': '23:45',
        'step': 15,
        'showDuration': false
      });

        $(function() {
          $( ".date-pick" ).datepicker( $.datepicker.regional['de'] ); 
        });
  </script>
{% endblock %}

