
* { 
    font-size: 24px; 
    line-height: 26px;
    /*box-sizing: border-box; */
}

html { margin: 0px; padding: 0px; }
body { width: 100%; max-width: 100%; margin: 0px; padding: 0px; background-color: White; }
h1, h1 a { margin: 0px; padding: 0px; font-size: 32px; }
h2, h2 a { margin: 0px; padding: 0px; font-size: 30px; }
h3, h3 a { margin: 0px; padding: 0px; font-size: 28px; }

#content-wrapper { padding: 0px; }

header { padding: 6px 6px 6px 6px; }
header p, header p a { font-size: 24px; line-height: 26px; }

nav a, nav a:link, nav a:visited, nav a:active { font-size: 24px; }

#mobile-nav {
  text-align: right;
  padding: 0px;
  display: none;
}
#mobile-nav ul { list-style-type: none; }

.mobile-behandlungen { border-top: 1px solid Black; }

.mobile-behandlungen ul { list-style-type: none; margin: 0px; padding: 0px}

.liste-wrapper { height: 70vh; max-height: 70vh; }
