
* { 
    font-size: 24px; 
    line-height: 26px;
    box-sizing: border-box;
}

html { width: 100vw; max-width: 100vw; margin: 0px; padding: 0px; }
body { padding: 8px; }
h1, h1 a { font-size: 32px; }
h2, h2 a { font-size: 30px; }
h3, h3 a { font-size: 28px; }

#content-wrapper { padding: 0px; }

header p, header p a { font-size: 24px; line-height: 26px; }

nav a, nav a:link, nav a:visited, nav a:active { font-size: 24px; }

#mobile-nav {
  text-align: right;
  padding: 0px;
  display: none;
}
#mobile-nav ul { list-style-type: none; }

.liste-wrapper {
    max-height: 55vh;
}

.mobile-behandlungen ul { list-style-type: none; margin: 0px; padding: 0px}

