
* { 
    font-size: 16px; 
    line-height: 16px;
}

html { margin: 0px; padding: 0px; }
body { width: 100%; max-width: 100%; margin: 0px; padding: 0px; background-color: White; }
h1, h1 a { margin: 0; padding: 0; font-size: 2em; }
h2, h2 a { margin: 0; padding: 0; font-size: 1.8em; }
h3, h3 a { margin: 0; padding: 0; font-size: 1.6em; }

#content-wrapper { padding: 0; }

header {  } /* position: sticky; top: 0 */
header p, header p a { font-size: 1.4em; line-height: 1.5em; }

nav a, nav a:link, nav a:visited, nav a:active { font-size: 1.4em; }

#mobile-nav {
  text-align: right;
  padding: 0;
  display: none;
}
#mobile-nav ul { list-style-type: none; }

.mobile-behandlungen { border-top: 1px solid Black; }

.mobile-behandlungen ul { list-style-type: none; margin: 0px; padding: 0px}

/* .liste-wrapper { height: 70vh; max-height: 70vh; } */
