
/* @page {
  size: 210mm 297mm;
  margin: 10mm 13mm 13mm 13mm;
  column-count:2;
  column-gap:-10mm;
  force-page-count: no-force;
  // background-color: lightgreen;
} */

body { 
    width: 184mm;  /* 210 - (13 + 13) */
    height: 274mm; /* 297 - (10 + 13) */
    margin: 0mm auto;
    padding: 10mm 13mm 13mm 13mm;
    border: 1px solid black;
}

/* div { column-span: all; text-align: left } */

h1 { margin:0; padding: 0; font-size: 20px; }
h2 { margin: 6px 0; padding: 0; font-size: 18px; }
p { margin: 1mm 0mm 1mm 0mm; padding: 0; font-size: 14px; }

div.foot {
   height: 10mm;
}

div.head {
   height: 114mm;
}
/* .head p { justify-items: end; text-align: right; } */

div.content {
   height: 160mm;
}


/* .paper-layout { column-span: none; font-size: 7pt; text-align: left } */

/* .hyphen { margin-left: 5mm; } */

