
<html>
    <head>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>Ordi - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.12.1.min.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-ui-1.12.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='datepicker-de.js') }}"></script>
    </head>
    <body>
        <header>
            <h1 style="padding-left: 8px">Ordi</h1>
            <h2>{{ page_title }}</h2>
            <p style="text-align: right; padding-right: 8px">
              {% if g.user %}
                <span>{{ g.user['username'] }}</span>
                &nbsp;
                <a href="{{ url_for('auth.logout') }}">Abmelden</a>
              {% else %}
                <a href="{{ url_for('auth.register') }}">Registrieren</a>
                &nbsp;
                <a href="{{ url_for('auth.login') }}">Anmelden</a>
              {% endif %}
            </p>
        </header>

        {% if page_title != "Anmelden" and page_title != "Registrieren" %}
        <nav class="flex-container">
            <p><a href="{{ url_for('ordi.index') }}">Patientenkarteien</a></p>
            <p><a href="{{ url_for('ordi.rechnungen') }}">Rechnungen</a></p>
            <p><a href="{{ url_for('ordi.behandlungsverlaeufe') }}">Behandlungsverläufe</a></p>
            <p><a href="{{ url_for('ordi.abfragen') }}">Abfragen</a></p>
        </nav>
        {% endif %}

        <div id="content-wrapper">
          <div id="msg">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
          </div>
          <section id="content">
            {% block content %}{% endblock %}
          </section>
        </div>
    </body>
</html>
 
  


