
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width initial-scale=1.0">

    <title>Ordi - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">

    {% if request.MOBILE %}
      <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.12.1.min.css') }}">

    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='jquery-ui-1.12.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='datepicker-de.js') }}"></script>

    {% if page_title == "Kalender" %}
      <link rel="stylesheet" href="{{ url_for('static', filename='kalender.css') }}">
    {% endif %}

    {% if page_title == "Termin" %}
      <link rel="stylesheet" href="{{ url_for('static', filename='kalender.css') }}">

      <link rel="stylesheet" href="{{ url_for('static', filename='jquery.timepicker.css') }}">

      <script src="{{ url_for('static', filename='jquery.timePicker.js') }}"></script>
    {% endif %}

  </head>
  <body>
    <header>
    {% if request.MOBILE %}
      <h1>Ordi</h1>

      {% if page_title == "Behandlungsverläufe" %}
        <h2>Beh.Verläufe</h2>
      {% else %}
        <h2>{{ page_title }}</h2>
      {% endif %}

      <p><a id="nav-button" href="#">
         <img id="nav-image" src="{{ url_for('static', filename='img/nav_black.png') }}"></a></p>
    {% else %}
      <h1 style="padding-left: 8px">Ordi</h1>

      <h2>{{ page_title }}</h2>

      <p style="text-align: right; padding-right: 8px">
      {% if g.user %}
        <a href="{{ url_for('auth.logout') }}">abmelden</a>
      {% else %}
        {% if page_title != "Anmelden" %}
          <a href="{{ url_for('auth.login') }}">anmelden</a>
        {% endif %}
      {% endif %}
      </p>
    {% endif %}      
  </header>

  {% if page_title != "Anmelden" and page_title != "Registrieren" %}
    {% if request.MOBILE %}
      <nav id="mobile-nav" class="flex-container">
        <ul>
          <li><a href="{{ url_for('patient.index') }}">Patienten</a></li>
          <li><a href="{{ url_for('rechnung.index') }}">Rechnungen</a></li>
          <li><a href="{{ url_for('behandlungsverlauf.index') }}">Behandlungsverläufe</a></li>
          <li><a href="{{ url_for('kalender.index') }}">Kalender</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Abmelden</a></li>
        </ul>
      </nav>
    {% else %}
      <nav class="flex-container">
        <p><a href="{{ url_for('patient.index') }}">Patienten</a></p>

        <p><a href="{{ url_for('rechnung.index') }}">Rechnungen</a></p>

        <p><a href="{{ url_for('behandlungsverlauf.index') }}">Behandlungsverläufe</a></p>

        <p><a href="{{ url_for('abfrage.index') }}">Abfragen</a></p>

        <p><a href="{{ url_for('kalender.index') }}">Kalender</a></p>
      </nav>
    {% endif %}
  {% endif %}

    <div id="content-wrapper">
      <div id="msg">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      </div>

      <section id="content">
        {% block content %}{% endblock %}
      </section>
    </div>

    {% if request.MOBILE %}
     <script>
      $(document).ready(function(){
        $("#nav-button").on("click",function(){
          $("#mobile-nav").toggle();
          return false;
        });
      });
     </script>
    {% endif %}

  </body>
</html>
 
  


