
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width initial-scale=1.0">

    <title>Ordi - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.12.1.min.css') }}">

    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='jquery-ui-1.12.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='datepicker-de.js') }}"></script>

    {% if page_title == "Kalender" %}
      <link rel="stylesheet" href="{{ url_for('static', filename='kalender.css') }}">
    {% endif %}

    {% if page_title == "Termin" %}
      <link rel="stylesheet" href="{{ url_for('static', filename='kalender.css') }}">

      <link rel="stylesheet" href="{{ url_for('static', filename='jquery.timepicker.css') }}">

      <script src="{{ url_for('static', filename='jquery.timePicker.js') }}"></script>
    {% endif %}

  </head>
  <body>
    <header>
      <h1>Ordi</h1>

      {% if page_title == "Behandlungsverläufe" %}
        <h2>Beh.Verläufe</h2>
      {% elif page_title == "Behandlungsverlauf" %}
        <h2>Beh.Verlauf</h2>
      {% else %}
        <h2>{{ page_title }}</h2>
      {% endif %}

      <p style="text-align: right;"><a id="nav-button" href="#">
         <img id="nav-image" src="{{ url_for('static', filename='img/nav_black.png') }}"></a>
      </p>
    </header>

    <nav id="mobile-nav" class="flex-container">
      <ul>
        <li><a href="{{ url_for('patient.index') }}">Patienten</a></li>

        <li><a href="{{ url_for('rechnung.index') }}">Rechnungen</a></li>

        <li><a href="{{ url_for('behandlungsverlauf.index') }}">Behandlungsverläufe</a></li>

        <li><a href="{{ url_for('kalender.index') }}">Kalender</a></li>

        <li><a href="{{ url_for('auth.logout') }}">Abmelden</a></li>
      </ul>
    </nav>

    <div id="content-wrapper">
      <div id="msg">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      </div>

      <section id="content">
        {% block content %}{% endblock %}
      </section>
    </div>

    <script>
      $(document).ready(function(){
        $("#nav-button").on("click",function(){
          $("#mobile-nav").toggle();
          return false;
        });
      });
    </script>

  </body>
</html>

