
{% extends 'base.html' %}


{% block title %}
  Karteikarten
{% endblock %}


{% block content %}
    <div class="gap"></div>

    <form method="post" action="{{ url_for('patient.index') }}">
        <div class="flex-container">
          <div>
            <p><label for="familienname">Familienname</label></p>
            <p><input type="text" size="10" name="familienname" value="{{ familienname }}"></p>
          </div>

          <div>
            <p><label for="tiername">Tiername</label></p>
            <p><input type="text" size="10" name="tiername" value="{{ tiername }}"></p>
          </div>
        </div>

        <div class="flex-container">
          <div>
            <label for="kunde">Kunde</label>
          {% if kunde == 0 %}
            <input type="checkbox" name="kunde" value="0">
          {% else %}
            <input type="checkbox" name="kunde" value="1" checked>
          {% endif %}
          </div>

          <div>
            <label for="patient">Patient</label>
          {% if patient == 0 %}
            <input type="checkbox" name="patient" value="0">
          {% else %}
            <input type="checkbox" name="patient" value="1" checked>
          {% endif %}
          </div>
        </div>

        <div>
          <input type="submit" value="suchen">
        </div>
    </form>

    <div class="gap"></div>

  <div class="liste-wrapper">
    <table class="liste">
        <tr>
            <th width="50%">Kunde</th>
            <th width="50%">Patient</th>
        </tr>
      {% for th in tierhaltungen %}
        <tr>
          <td style="width: 50%">
            <a href="{{ url_for('patient.show', id=th.Tierhaltung.id) }}">
              {{ th.Person.anredecode|mapanrede }}
              {{ th.Person.titel }}
              {{ th.Person.familienname }}
              {{ th.Person.vorname }}
            </a>
          </td>
          <td style="width: 50%">
            <a href="{{ url_for('patient.show', id=th.Tierhaltung.id) }}">
              {{ th.Tier.tiername }}
              {{ th.Tier.tierart }}
              {{ th.Tier.geschlechtscode|mapgeschlecht }}
              {{ th.Tier.geburtsdatum|dt }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}

