
{% extends 'base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
  <div style="max-height: 24vh; overflow-y: scroll; overflow-x: hidden;">
    {% with tier=tierhaltung.tier %}
      {% include '_mobile_tier.html' %}
    {% endwith %}

    {% with person=tierhaltung.person %}
      {% include '_mobile_person.html' %}
    {% endwith %}

    <div class="small-gap"></div>
  </div>

  <div id="scroller" class="mobile-behandlungen" style="max-height: 70vh; overflow-y: scroll; overflow-x: hidden;">

    {% for behandlung in behandlungen %}
        <ul style="border: 1px solid black; background-color: Snow";>
          <li style="background-color: LightBlue">
              <span style="font-weight: bold">{{- behandlung.datum|dt -}}</span>
          </li>

          {%- if behandlung.diagnose|length > 0 -%}
            <li>
                <span style="font-weight: bold">Diagnose</span>
                <br>
                {{- behandlung.diagnose -}}
            </li>
          {%- endif -%}

          {%- if behandlung.laborwerte1|length > 0 -%}
            <li>
                <span style="font-weight: bold">Laborwerte1</span>
                <br>
                {{- behandlung.laborwerte1 -}}
            </li>
          {%- endif -%}

          {%- if behandlung.laborwerte2|length > 0 -%}
            <li>
                <span style="font-weight: bold">Laborwerte2</span>
                <br>
                {{- behandlung.laborwerte2 -}}
            </li>
          {%- endif -%}

          {%- if behandlung.arzneien|length > 0 -%}
            <li>
                <span style="font-weight: bold">Arzneien</span>
                <br>
                {{- behandlung.arzneien -}}
            </li>
          {%- endif -%}

          {%- if behandlung.arzneimittel|length > 0 -%}
            <li>
                <span style="font-weight: bold">Arzneimittel</span>
                <br>
                {{- behandlung.arzneimittel -}}
            </li>
          {%- endif -%}

          {%- if behandlung.impfungen -%}
            <li>
                <span style="font-weight: bold">Impfungen</span>
                <br>
                {%- for impfung in behandlung.impfungen -%}
                  {% if loop.index > 1 %},{%- endif -%}
                  {{- impfung.impfungscode|mapimpfung -}}
                {%- endfor -%}
            </li>
          {%- endif -%}

          {%- if behandlung.gewicht|length > 0 -%}
            <li>
                <span style="font-weight: bold">Gewicht</span>
                <br>
                {{- behandlung.gewicht|sn -}}
            </li>
          {%- endif -%}
        </ul>
      {% endfor %}
   </div>

    <script>
      $(document).ready(function(){

        var element = document.getElementById("scroller");
        element.scrollTop = element.scrollHeight;

      });
    </script>
{% endblock %}
