
{% extends 'mobile_base.html' %}


{% block title %}
  Karteikarte
{% endblock %}


{% block content %}
  <div class="tierhaltung">
    {% with tier=tierhaltung.tier %}
      {% include '_mobile_tier.html' %}
    {% endwith %}

    {% with person=tierhaltung.person %}
      {% include '_mobile_person.html' %}
    {% endwith %}

    <div class="small-gap"></div>
  </div>

  <div id="scroller" class="mobile" style="max-height: calc(100vh - 12.8em);">
    {% for behandlung in behandlungen %}
      <div>
        <p style="background-color: LightBlue">
          <span style="font-weight: bold">{{- behandlung.datum|dt -}}</span>
        </p>

        {%- if behandlung.diagnose|length > 0 -%}
          <p>
            <span style="font-weight: bold">Diagnose</span>
            <br>
            {{- behandlung.diagnose -}}
          </p>
        {%- endif -%}

        {%- if behandlung.laborwerte1|length > 0 -%}
          <p>
            <span style="font-weight: bold">Laborwerte1</span>
            <br>
            {{- behandlung.laborwerte1 -}}
          </p>
        {%- endif -%}

        {%- if behandlung.laborwerte2|length > 0 -%}
          <p>
            <span style="font-weight: bold">Laborwerte2</span>
            <br>
            {{- behandlung.laborwerte2 -}}
          </p>
        {%- endif -%}

        {%- if behandlung.arzneien|length > 0 -%}
          <p>
            <span style="font-weight: bold">Arzneien</span>
            <br>
            {{- behandlung.arzneien -}}
          </p>
        {%- endif -%}

        {%- if behandlung.arzneimittel|length > 0 -%}
          <p>
            <span style="font-weight: bold">Arzneimittel</span>
            <br>
            {{- behandlung.arzneimittel -}}
          </p>
        {%- endif -%}

        {%- if behandlung.impfungen -%}
          <p>
            <span style="font-weight: bold">Impfungen</span>
            <br>
            {%- for impfung in behandlung.impfungen -%}
              {% if loop.index > 1 %},{%- endif -%}
              {{- impfung.impfungscode|mapimpfung -}}
            {%- endfor -%}
          </p>
        {%- endif -%}

        {%- if behandlung.gewicht|length > 0 -%}
          <p>
            <span style="font-weight: bold">Gewicht</span>
            <br>
            {{- behandlung.gewicht|sn -}}
          </p>
        {%- endif -%}
      </div>
    {% endfor %}
  </div>

  <script>
    $(document).ready(function(){

      var element = document.getElementById("scroller");
      element.scrollTop = element.scrollHeight;

    });
  </script>
{% endblock %}
