
{% extends 'mobile_base.html' %}


{% block title %}
  Karteikarten
{% endblock %}


{% block content %}
    <div class="small-gap"></div>

    <form method="post" action="{{ url_for('patient.index') }}">
      <div class="row-grid" style="grid-template-columns: auto auto; max-height: 35vh;">
        <label for="familienname">Familienname</label>

        <input type="text" size="8" name="familienname" value="{{ familienname }}">

        <label for="tiername">Tiername</label>

        <input type="text" size="8" name="tiername" value="{{ tiername }}">

        <label for="kunde">Kunde</label>
        {%- if kunde == 0 -%}
          <input type="checkbox" name="kunde" value="0">
        {%- else -%}
          <input type="checkbox" name="kunde" value="1" checked>
        {%- endif -%}

        <label for="patient">Patient</label>
        {%- if patient == 0 -%}
          <input type="checkbox" name="patient" value="0">
        {%- else -%}
          <input type="checkbox" name="patient" value="1" checked>
        {%- endif -%}

        <input type="submit" value="suchen">
        <div></div>
      </div>
    </form>

  <div class="small-gap"></div>

  <table class="liste">
    <tr>
      <th width="50%">Kunde</th>

      <th width="50%">Patient</th>
    </tr>
  </table>
  
  <div class="liste-wrapper" style="max-height: 55vh;">
    <table class="liste">
      {% for th in tierhaltungen %}
        <tr>
          <td width="50%">
            <a href="{{ url_for('patient.show', id=th.Tierhaltung.id) }}">
              {{ th.Person.titel }}
              {{ th.Person.familienname }}
              {{ th.Person.vorname }}
            </a>
          </td>
          <td width="50%">
            <a href="{{ url_for('patient.show', id=th.Tierhaltung.id) }}">
              {{ th.Tier.tiername }}
              {{ th.Tier.tierart }}
              {{ th.Tier.geschlechtscode|mapgeschlecht }}
              {{ th.Tier.geburtsdatum|dt }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}

