
{% extends 'mobile_base.html' %}


{% block title %}
  Behandlungsverlauf
{% endblock %}


{% block content %}
  <div class="tierhaltung">
    {% with tier=behandlungsverlauf.tier %}
      {% include '_mobile_tier.html' %}
    {% endwith %}

    {% with person=behandlungsverlauf.person %}
      {% include '_mobile_person.html' %}
    {% endwith %}

    <div class="small-gap"></div>
  </div>

  <div class="mobile-scroll" style="height: calc(100vh - 13em); max-height: calc(100vh - 13em);">
    <p>
        <span style="font-weight: bold">Datum:</span>
        &nbsp;{{- behandlungsverlauf.datum|dt -}}
    </p>

    <p>
        <span style="font-weight: bold">Diagnose:</span>
        <br>
        {{- behandlungsverlauf.diagnose|sn -}}
    </p>

    <p>
        <span style="font-weight: bold">Behandlung:</span>
        <br>
        {{- behandlungsverlauf.behandlung|sn -}}
    </p>
  </div>
{% endblock %}
