
{% extends 'mobile_base.html' %}


{% block title %}
  Rechnung
{% endblock %}


{% block content %}
  <div class="tierhaltung">
    {% with tier=rechnung.tier %}
      {% include '_mobile_tier.html' %}
    {% endwith %}

    {% with person=rechnung.person %}
      {% include '_mobile_person.html' %}
    {% endwith %}

    <div class="small-gap"></div>
  </div>

  <div>
    <p>
        <span style="font-weight: bold">Rechnungsjahr:&nbsp;</span>
        {{- rechnung.jahr|sn -}}
    </p>

    <p>
        <span style="font-weight: bold">Rechnungslfnr:&nbsp;</span>
        {{- rechnung.lfnr|sn -}}
    </p>

    <p>
        <span style="font-weight: bold">Ausstellungsdatum:&nbsp;</span>
        {{- rechnung.datum|dt -}}
    </p>

    <p>
        <span style="font-weight: bold">Ausstellungsort:&nbsp;</span>
        {{- rechnung.ort -}}
    </p>

    <p>
        <span style="font-weight: bold">Diagnose:</span>
        <br>
        {{- rechnung.diagnose|sn -}}
    </p>

    <p>
        <span style="font-weight: bold">Bezahlung:&nbsp;</span>
        {{- rechnung.bezahlung|sn -}}
    </p>
  </div>

  <div class="small-gap"></div>

    <div id="scroller" class="mobile-scroll" style="height: calc(100vh - 21.2em); max-height: calc(100vh - 21.2em);">
    {% for rz in rechnungszeilen %}
      <div>
        <p style="background-color: LightBlue">
          <span style="font-weight: bold">{{- rz.datum|dt -}}</span>
          &nbsp;
          <span style="font-weight: bold">{{- rz.artikelcode|mapartikel -}}</span>
        </p>
        <p>{{- rz.artikel -}}</p>
        <p>{{- rz.betrag|sn -}}</p>
      </div>
    {% endfor %}
  </div>

  <script>
    $(document).ready(function(){

      var element = document.getElementById("scroller");
      element.scrollTop = element.scrollHeight;

    });
  </script>
{% endblock %}
