<html>
    <body>
        <div style="padding-bottom: 20mm;">
            <p>{{- rechnung.person.anredecode | mapanrede -}}</p>

            <p>
               {{- rechnung.person.vorname -}} &nbsp; 
               {{- rechnung.person.familienname -}} &nbsp; 
               {{- rechnung.person.titel -}}
            </p>

            <p>{{- rechnung.person.adresse.strasse -}}</p>

            <p>
                {{- rechnung.person.adresse.postleitzahl -}} &nbsp; 
                {{- rechnung.person.adresse.ort -}}
            </p>
        </div>
        
        <div style="padding-bottom: 5mm; font-weight: bold;">
            Rechnung: &nbsp; {{- rechnung.rechnungsjahr -}} / {{- rechnung.rechnungslfnr -}}
        </div>

        <div style="display: grid; grid-template-columns: 123mm 40mm;">
          <div>
            Patient: &nbsp; 
            {{- rechnung.tier.tiername -}} &nbsp; 
            {{- rechnung.tier.tierart -}} &nbsp; 
            {%- if rechnung.tier.geburtsdatum -%}
                geb. &nbsp; {{- rechnung.tier.geburtsdatum|dt -}}
            {%- endif -%}
          </div>
          <div style="text-align: right;">
            {{- rechnung.ausstellungsdatum|dt -}}
          </div>
        </div>

        <div>
          <p>Chip: &nbsp; {{- rechnung.tier.chip_nummer -}}</p>
        </div>

        <div>
          <p>Diagnose: &nbsp; {{- rechnung.diagnose -}}</p>
        </div>

        <div style="padding-top: 5mm; padding-bottom: 5mm;">
          <p>Für tierärztliche Leistung und Medikamente erlaube ich mir zu berechnen.</p>
        </div>

        {% for rechnungszeile in rechnungszeilen %}
          <div style="display: grid; grid-template-columns: 32mm 99mm 32mm;">
            <div>
              {{- rechnungszeile.datum|dt -}}
            </div>
            <div>
              {{- rechnungszeile.artikel -}}
            </div>
            <div style="text-align: right;">
              {{- '{0:0.2f}'.format(rechnungszeile.betrag | float) -}}
            </div>
          </div>
        {% endfor %}

        <hr>

        <div style="display: grid; grid-template-columns: 131mm 32mm;">
          <div style="font-weight: bold;">
            Summe netto EUR
          </div>
          <div style="text-align: right; font-weight: bold;">
            {{- '{0:0.2f}'.format(rechnung.netto_summe | float) -}}
          </div>
        </div>

        <div style="display: grid; grid-template-columns: 131mm 32mm;">
          <div>
            10% Umsatzsteuer
          </div>
          <div style="text-align: right;">
            {{- '{0:0.2f}'.format(rechnung.steuerbetrag_zehn  | float) -}}
          </div>
        </div>

        <div style="display: grid; grid-template-columns: 131mm 32mm;">
          <div>
            13% Umsatzsteuer
          </div>
          <div style="text-align: right;">
            {{- '{0:0.2f}'.format(rechnung.steuerbetrag_dreizehn | float) -}}
          </div>
        </div>

        <div style="display: grid; grid-template-columns: 131mm 32mm;">
          <div>
            20% Umsatzsteuer
          </div>
          <div style="text-align: right;">
            {{- '{0:0.2f}'.format(rechnung.steuerbetrag_zwanzig  | float) -}}
          </div>
        </div>

        <hr>

        <div style="display: grid; grid-template-columns: 131mm 32mm; padding-bottom: 5mm;">
          <div style="font-weight: bold;">
            Endsumme Brutto EUR
          </div>
          <div style="text-align: right; font-weight: bold;">
            {{- '{0:0.2f}'.format(rechnung.brutto_summe | float) -}}
          </div>
        </div>

        <div>
          <p>Zahlung: &nbsp; {{- rechnung.bezahlung -}}</p>
        </div>
    </body>
</html>
